<head>
    <title>Notification List</title>
    <style>
        .card {
            background: rgb(250, 250, 250);
            border-radius: 2px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            height: 100%;
            width: 70%;
            padding: 35px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        .card:hover {
            box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .cardToday {
            border-radius: 2px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            height: 100%;
            width: 70%;
            padding: 35px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            animation: blinkingBackground 2s infinite;
        }

        .cardToday:hover {
            box-shadow: 0 5px 22px rgba(246, 250, 11, 0.39), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        @keyframes blinkingBackground {
            0% {
                background: rgb(255, 254, 213);
            }

            50%{
                 background: rgb(245, 252, 149);
            }

            100% {
                background: rgb(255, 254, 213);
            }
        }

        h1 {
            font: 67px "Amatic SC", sans-serif;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
            margin-bottom: 15px;
        }

        .card:hover .trash {
            opacity: 1;
        }

        .cardToday:hover .trash {
            opacity: 1;
        }

        .trash {
            position: absolute;
            cursor: pointer;
            top: 3%;
            left: 96%;
            opacity: 0;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

    <% if(req.session.memberid){ %>
        <div>
            <br>
            <h1>Notification <i class="fas fa-envelope-open"></i></h1>
            <% if(notiList.length==0){ %>
                <h3>There is no message here <i class="fas fa-child stick"></i></h3>
                <% }else{ %>
                    <% if(notiList.length> 1){ %>
                        <button class="btn btn-outline-danger" style="float: right; margin-right: 30%;" onclick="deleteAllNoti()">Delete All notification</button>
                        <small>
                            <%= notiList.length %> messages
                        </small>
                      
                        <% } %>
                            <div id="cardContainer">
                                <% for (var i=notiList.length-1; i>= 0; i--) { %>
                                    <% var today=new Date(); %>
                                        <% var year=today.getFullYear(); %>
                                            <% var month=today.getMonth()+1; %>
                                                <% var day=today.toString().split(' ')[2]; %>

                        <% var dateStr = notiList[i].date.split("T"); %>
                        <% var ymd = dateStr[0].split("-"); %>
                        <% var notiY = parseInt(ymd[0]); var notiM = parseInt(ymd[1]); var notiD =  parseInt(ymd[2]); %>
                        <% var tdyY = parseInt(year); var tdyM = parseInt(month); var tdyD = parseInt(day); %>

                        <% var isToday = false; %>
                        <% if(notiY == tdyY){ %>
                            <% if(notiM == tdyM){ %>
                                <% if(notiD == tdyD){ %>
                                    <% isToday = true; %>
                        <% }}} %>

                        <% if(isToday){ %>
                            <div class="cardToday" id="<%= notiList[i].date %>">
                                <% var str=notiList[i].message.split("***") %>
                                    <h6>
                                        <%= str[1] %>
                                    </h6>
                                    <h6 style="color: rgb(204, 0, 255); font-weight: bold;">
                                        <%= str[2] %>
                                    </h6>
                                    <small>
                                        <%= dateStr[0] %> <%= dateStr[1] %>
                                    </small>
    
                                    <a class="tooltip-top trash" data-tooltip="Delete Notification"
                                    onclick="del('<%= notiList[i].date %>')"> <i class="fa fa-trash"></i></a>
                            </div>
                            <% }else{ %>
                        <div class="card" id="<%= notiList[i].date %>">
                            <% var str=notiList[i].message.split("***") %>
                                <h6>
                                    <%= str[1] %>
                                </h6>
                                <h6 style="color: rgb(0, 4, 255); font-weight: bold;">
                                    <%= str[2] %>
                                </h6>
                                <small>
                                    <%= dateStr[0] %> <%= dateStr[1] %>
                                </small>

                                
                                    <a class="tooltip-top trash" data-tooltip="Delete Notification"
                                    onclick="del('<%= notiList[i].date %>')"> <i class="fa fa-trash"></i></a>
                               
                        </div>
                        <% } %>

                        <% }; %>

                    </div>

                    <a class="btn btn-outline-primary" href="/read/profile?username=<%= req.session.memberid %>">Back to profile</a>
                            <% } %>

                            <br><br><br><br>
        </div>

        <% }else{ %>

            <!-- visitor layout -->
            <br>
            <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                            class="fas fa-sign-in-alt mr-2"></i></li></a> to browse the notification
                details
            </h3>
            <!-- should store url session to nav back later -->

            <!-- visitor layout -->

            <% } %>

</body>

<script>

    async function del(id) {
        
        var response = await fetch("/delete/notification?id=" + id, { method: "POST" }); 
        
        if (response.ok) { 
            location.reload();
        } else {
          var msg = response.statusText; 
          alert(msg);
        }
    }

    async function deleteAllNoti(){

        var r = confirm('Are you sure you want to delete all of the notification?');

        if(r){
            var response = await fetch("/delete/notification?id=ALL", { method: "POST" }); 
        
        if (response.ok) { 
            alert("Deleted all the messages.");
            location.reload();
        } else {
          var msg = response.statusText; 
          alert(msg);
        }
        }

    }
    
</script>