<head>
    <title>User profile</title>
    <style>
        .container {
            padding-top: 20px;
            padding-bottom: 100px;
        }

        #confirmButton,
        #cancelButton {
            display: none;
        }

        .row {
            display: flex;
        }

        .column1 {
            flex: 35%;
        }

        .column2 {
            flex: 65%;
        }

        .card-container {
            align-items: start;
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(auto-fit, 300px);
            justify-content: left;
        }

        .card-dark {
            background-color: rgb(46, 44, 43);
            border-radius: 5px;
            color: white;
            text-shadow: 1px 1px 0 #555;
        }

        .card-light {
            background-color: rgb(223, 198, 189);
            border-radius: 5px;
            color: white;
            text-shadow: 1px 1px 0 #555;
        }

        /* Resize images */
        img {
            width: 140px;
            height: auto;
            float: left;
        }
    </style>

</head>

<body>


    <div class="container">
        <div class="row">
            <!-- member layout -->
            <div class="column1">
                <% if(req.session.memberid){ %>
                    <form action="/editProfile" method="POST">
                        <!-- image -->
                        <div>
                            <input type="image" readonly style="display: none;">
                        </div>

                        <!-- User info -->
                        <div>
                            <h2><b> User information</b> <i class="far fa-user-circle"></i></h2>

                            <br>

                            <div class="form-group col-md-10">
                                <label><b>User name:</b></label>
                                <input class="form-control" value="<%= user.username %>" readonly>
                                <p><small>Connected to Gmail: <span class="iconify"
                                            data-icon="logos:google-gmail"></span>
                                        <b style="color: blue;">
                                            <%= user.connectedGmail %>
                                        </b></small></p>
                            </div>

                            <div class="form-group col-md-10">
                                <label><b>Credit Score</b></label>
                                <input class="form-control" type="number" value="<%= user.creditScore %>" readonly>
                            </div>


                            <div class="form-group col-md-10">
                                <label><b>Nick Name</b></label>
                                <input class="form-control" type="text" id="nickname" name="nickname"
                                    value="<%= user.profile.nickname %>" readonly>
                            </div>

                            <div class="form-group col-md-10">
                                <label><b>personal description</b></label>
                                <textarea rows="5" id="description" name="description" class="form-control"
                                    readonly><%= user.profile.description %></textarea>
                            </div>

                        </div>
                        <% if(user.username==req.session.memberid){ %>
                            <!-- personal layout -->
                            <div class="button-group">
                                <button id="editButton" class="btn btn-outline-info" type="button"
                                    onclick="showEdit()">Edit
                                    profile</button>

                                <button id="confirmButton" class="btn btn-outline-success"
                                    type="submit">Confirm</button>
                                <button id="cancelButton" class="btn btn-outline-secondary" type="button"
                                    onclick="cancelEdit()">Cancel</button>

                                <a class="btn btn-outline-danger" href="/logout">Log out</a>
                            </div>
                            <!-- personal layout -->
                            <% }else{ %>
                                <!-- read others layout -->
                                <button class="btn btn-outline-danger" type="button"
                                    onclick="reportUser()">Report</button>
                                <!-- read others layout -->

                                <% } %>
                    </form>
                    <!-- member layout -->
            </div>

            <div class="column2">
                <% if(user.username==req.session.memberid){ %>
                    <% var cnt=0; %>
                        <% var today=new Date(); %>
                            <% var year=today.getFullYear(); %>
                                <% var month=today.getMonth()+1; %>
                                    <% var day=today.toString().split(' ')[2]; %>
                                <h2 style="color: brown;"><b>Joined Posts</b></h2>
                                <section class="card-container">
                    <% joinedPosts.forEach(function(post){ %>
                        <% if(cnt%2==1){ %>
                                <div class="card-dark">
                                    <a href="/read/post/<%= post._id %>">
                                        <img src="<%= post.post.imgInput %>" alt="Image Title" />
                                    </a>
                                    <a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                    <li class="tag__item">
                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                    </li>
                                </div>
                                
                            <% }else{ %>
                                <div class="card-light">
                                    <a href="/read/post/<%= post._id %>">
                                        <img src="<%= post.post.imgInput %>" alt="Image Title" />
                                    </a>
                                    <a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                    <li class="tag__item">
                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                    </li>
                                </div>
                                <% } %>
                                    <% cnt=cnt + 1; %>
                                        <% }); %>
                                        </section>

                                        <% if(cnt == 0){ %>
                                            <b>you haven't joined any post yet😐</b>
                                            <% } %>
                                        <% }else{ %>
<button class="btn btn-outline-secondary" type="button"
onclick="window.history.back()">Back</button>
                                            <% } %>

            </div>
            <% }else{ %>
                <!-- visitor layout -->

                <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                class="fas fa-sign-in-alt mr-2"></i></li></a> to browse user' s information</h3>
                                        <!-- should store url session to nav back later -->

                                        <!-- visitor layout -->
                                        <% } %>
            </div>
        </div>

</body>

<script>

    function showEdit() {
        // enable input fields 
        document.getElementById("nickname").readOnly = false;
        document.getElementById("description").readOnly = false;

        // hide edit button
        document.getElementById("editButton").style.display = "none";


        // show confirm button & cancel button
        document.getElementById("confirmButton").style.display = "inline";
        document.getElementById("cancelButton").style.display = "inline";
    }

    function cancelEdit() {
        // refresh the page
        window.location.replace("/profile");
    }

    function reportUser() {
        alert("not yet developed~");
    }

</script>