<head>
    <title>User profile</title>
    <style>
        .container {
            padding-top: 20px;
            padding-bottom: 100px;
        }

        #confirmButton,
        #cancelButton {
            display: none;
        }

        .row {
            display: flex;
        }

        .column1 {
            flex: 35%;
        }

        .column2 {
            flex: 45%;
        }

        .column3 {
            flex: 20;
            border-style: outset;
        }

        .card-container {
            align-items: start;
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(auto-fit, 300px);
            justify-content: left;
        }

        .card-dark {
            background-color: rgb(46, 44, 43);
            border-radius: 5px;
            color: white;
            text-shadow: 1px 1px 0 #555;
        }

        .card-light {
            background-color: rgb(223, 198, 189);
            border-radius: 5px;
            color: white;
            text-shadow: 1px 1px 0 #555;
        }

        /* Resize images */
        img {
            width: 140px;
            height: auto;
            float: left;
        }

        #popup {
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            background-color: rgba(112, 112, 112, 0.616);
            z-index: 99;
        }

        #form {
            position: absolute;
            background-color: #f5f5f5;
            border: 1px solid #212121;
            border-radius: 2px;
            padding: 20px;
            width: 300px;
            left: 50%;
            top: 10%;
            margin-left: -150px;
        }

        #close {
            position: absolute;
            font-weight: bold;
            cursor: pointer;
            color: rgb(231, 4, 4);
            margin-left: 260px;
            margin-top: -19px;
        }

        #submit {
            display: none;
        }

        #info {
            display: none;
        }

        textarea[name=evidence] {
            resize: none;
        }

        .icons {
            padding: 16px;
        }

        #notiNum{
            margin-left: 45px;
        }
    </style>

</head>

<body>


    <div class="container">
        <% if(!user){ %>
            <b>It seems that the user doesn't exist!</b>
            <br><br>
            <button class="btn btn-outline-secondary" type="button" onclick="window.history.back()">Back</button>
            <% }else{ %>
                <div class="row">
                    <!-- member layout -->
                    <% if(req.session.memberid){ %>
                        <div class="column1">
                            <% if(user.username=="admin" ){ %>
                                <h2>Admin User</h2>
                                <% }else{ %>
                                    <form action="/editProfile" method="POST">
                                        <!-- image -->
                                        <div>
                                            <input type="image" readonly style="display: none;">
                                        </div>

                                        <!-- User info -->
                                        <div>
                                            <h2><b> User information</b> <i class="fas fa-user-circle"></i></h2>

                                            <br>

                                            <div class="form-group col-md-10">
                                                <label><b>User name:</b> <a href="/member/vip"><i
                                                            class="fas fa-user-check"></i></a></label>
                                                <input class="form-control" value="<%= user.username %>" readonly>
                                                <p><small>Connected to Gmail: <span class="iconify"
                                                            data-icon="logos:google-gmail"></span>
                                                        <b style="color: blue;">
                                                            <%= user.connectedGmail %>
                                                        </b></small></p>
                                            </div>

                                            <div class="form-group col-md-10">
                                                <label><b>Credit Score</b></label>
                                                <input class="form-control" type="number"
                                                    value="<%= user.creditScore %>" readonly>
                                            </div>


                                            <div class="form-group col-md-10">
                                                <label><b>Nick Name</b></label>
                                                <input class="form-control" type="text" id="nickname" name="nickname"
                                                    value="<%= user.profile.nickname %>" readonly>
                                            </div>

                                            <div class="form-group col-md-10">
                                                <label><b>Personal Description</b></label>
                                                <textarea rows="5" id="description" name="description"
                                                    class="form-control"
                                                    readonly><%= user.profile.description %></textarea>
                                            </div>

                                        </div>
                                        <% if(user.username==req.session.memberid){ %>
                                            <!-- personal layout -->
                                            <div class="button-group">
                                                <button id="editButton" class="btn btn-outline-info" type="button"
                                                    onclick="showEdit()">Edit
                                                    profile</button>

                                                <button id="confirmButton" class="btn btn-outline-success"
                                                    type="submit">Confirm</button>
                                                <button id="cancelButton" class="btn btn-outline-secondary"
                                                    type="button" onclick="cancelEdit()">Cancel</button>

                                                <a class="btn btn-outline-danger" href="/logout">Log out</a>
                                            </div>
                                            <!-- personal layout -->
                                            <% }else if(req.session.memberid=="admin" ){ %>

                                                <% }else{ %>
                                                    <!-- read others layout -->
                                                    <% if(req.session.report.indexOf(user.username) != -1){ %>
                                                        <a class="btn btn-outline-danger" href="#">You've reported this user</a>
                                                    <% }else{ %>    
                                                    <a class="btn btn-outline-danger" onclick="show()">Report</a>
                                                    <% } %>
                                                    <!-- read others layout -->

                                                    <% } %>
                                    </form>
                                    <% } %>
                                        <!-- member layout -->
                                        <div id="popup">
                                            <form id="form" method="POST" action="/report">
                                                <i class="fa fa-times" id="close" onclick="hide()"></i>
                                                <input name="reportUser" value="<%= user.username %>" hidden>
                                                <div class="form-row">
                                                    <label><b>⚠️Report @</b><b style="color: blue;">
                                                            <%= user.username %>
                                                        </b></label>
                                                    <div class="form-group col-md-12">
                                                        <select name="content" class="form-control"
                                                            onchange='CheckOther(this.value);' required>
                                                            <option value="" style="color: rgba(114, 114, 114, 0.582);"
                                                                disabled selected>Reason for reporting</option>
                                                            <option value="misinformation">Misinformation</option>
                                                            <option value="hate">Hate speech, violence, or threats
                                                            </option>
                                                            <option value="other">Others</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input type="text" class="form-control" name="otherContent"
                                                            id="otherContent" style='display:none;'
                                                            placeholder="Please specify" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label><b>Detail evidence</b></label>
                                                    <textarea rows="3" name="evidence" class="form-control"
                                                        placeholder="Provide more info to us" required></textarea>
                                                </div>
                                                <div class="form-row">
                                                    <label><b>Photo proof (link)</b></label>
                                                    <small>reference: <a href="https://www.linkpicture.com/"
                                                            target="_blank">https://www.linkpicture.com/</a></small>
                                                    <input type="url" name="photoLink" class="form-control" required>
                                                </div>


                                                <a id="confirm" class="btn btn-outline-info"
                                                    onclick="confirm()">Confirm</a>
                                                <small id="info">*Double check the information that you provided.
                                                    This may help us identify malicious activities.</small>
                                                <button id="submit" class="btn btn-outline-success"
                                                    type="submit">Submit</button>
                                            </form>
                                        </div>
                        </div>

                        <div class="column2">
                            <% if(user.username=="admin" ){ %>
                                <a class="btn btn-outline-danger" href="/logout">Log out</a>
                                <% }else{ %>
                                    <% if(user.username==req.session.memberid){ %>
                                        <% var cnt=0; %>
                                            <% var today=new Date(); %>
                                                <% var year=today.getFullYear(); %>
                                                    <% var month=today.getMonth()+1; %>
                                                        <% var day=today.toString().split(' ')[2]; %>
                                <h2 style="color: brown;"><b>Joined Posts</b></h2>
                                <section class="card-container">
                    <% joinedPosts.forEach(function(post){ %>
                        <% if(cnt%2==1){ %>
                                <div class="card-dark">
                                    <a href="/read/post/<%= post._id %>">
                                        <img src="<%= post.post.imgInput %>" alt="Image Title" />
                                    </a>
                                    <a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                    <li class="tag__item">
                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                    </li>
                                </div>
                                
                            <% }else{ %>
                                <div class="card-light">
                                    <a href="/read/post/<%= post._id %>">
                                        <img src="<%= post.post.imgInput %>" alt="Image Title" />
                                    </a>
                                    <a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                    <li class="tag__item">
                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                    </li>
                                </div>
                                <% } %>
                                    <% cnt=cnt + 1; %>
                                        <% }); %>
                                        </section>

                                        <% if(cnt == 0){ %>
                                            <b>you haven' t joined any post yet😐</b>
                                                            <% } %>
                                                                <% }else{ %>
                                                                    <button class="btn btn-outline-secondary"
                                                                        type="button"
                                                                        onclick="window.history.back()">Back</button>
                                                                        <hr>
                                                                        <% var createArr = user.createDateString.split("T"); %>
                                                                        <small>Account create date: <%= createArr[0] %> <%= createArr[1] %></small>
                                                                        <hr>
                                                                        <a href="/read/postHistory?username=<%= user.username %>">Post History</a>
                                                                    <% } %>
                                                                        <% } %>

                        </div>


                        <% if(user.username=="admin" ){ %>
                            <% }else{ %>
                                <% if(user.username==req.session.memberid){ %>
                                    <div class="column3">
                                        <div class="icons">
                                            <a href="/read/profile/notification"><i class="fas fa-envelope"
                                                    style="font-size: xx-large;"></i></a>
                                            Notification

                                        </div>
                                        <div id="notiNum">
                                            <% if(user.notification.length> 0){ %>
                                                <% if(user.notification.length> 1){ %>
                                                <b>(<%= user.notification.length %> messages)</b>
                                                <% }else{ %>
                                                    <b>(<%= user.notification.length %> message)</b>
                                                    <% } %>
                                                
                                                <% } %>
                                        </div>
                                        <div class="icons">
                                            <a href="/report/history"><i class="fas fa-exclamation-circle"
                                                    style="font-size: xx-large;"></i>
                                            </a>Report History
                                        </div>
                                        <div class="icons">
                                            <a href="/read/postHistory?username=<%= req.session.memberid %>"><i class="fas fa-history"
                                                    style="font-size: xx-large;"></i>
                                            </a>My Post History
                                        </div>
                                        <!-- div class="icons">
                                            <a href="#"><i class="fas fa-magic" style="font-size: xx-large;"></i></a>
                                            Premium
                                        </div -->


                                    </div>
                </div>
                <% }else{ %>
                   
                    <% } %>
                        <% } %>








                            <% }else{ %>
                                <!-- visitor layout -->

                                <br><br>
                                <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                                class="fas fa-sign-in-alt mr-2"></i></li></a> to
                                    browse user' s
                                    information
                                </h3>
                                <!-- should store url session to nav back later -->

                                <!-- visitor layout -->
                                <% } %>
    </div>
    <% } %>
        </div>

</body>

<script>

    function showEdit() {
        // enable input fields 
        document.getElementById("nickname").readOnly = false;
        document.getElementById("description").readOnly = false;

        // hide edit button
        document.getElementById("editButton").style.display = "none";


        // show confirm button & cancel button
        document.getElementById("confirmButton").style.display = "inline";
        document.getElementById("cancelButton").style.display = "inline";
    }

    function cancelEdit() {
        // refresh the page
        window.location.reload();
    }

    function reportUser() {
        alert("not yet developed~");
    }

    function show() {
        document.getElementById("popup").style.display = "block";
    }
    function hide() {
        document.getElementById("popup").style.display = "none";

        document.getElementById("name").value = "";
        document.getElementById("age").value = "";
        document.getElementById("country").value = "";
    }
    function confirm() {
        document.getElementById("confirm").style.display = "none";
        document.getElementById("info").style.display = "block";
        document.getElementById("submit").style.display = "block";
    }

    function CheckOther(val) {
        var element = document.getElementById('otherContent');
        var otherContent = document.getElementById('otherContent');
        if (val == 'other') {
            element.style.display = 'block';
            otherContent.required = true;
        } else {
            element.style.display = 'none';
            otherContent.required = false;
        }
    }
</script>