<head>
    <title>Manage post</title>
    <style>
        .text-custom-manage {
            font: bold 48px "Amatic SC", sans-serif;
            color: rgb(132, 0, 255);
            text-shadow: 2px 1px rgba(151, 151, 151, 0.527);
        }

        .intro {
            font: bold 18px "Raleway", sans-serif;
            background-image: linear-gradient(15deg, #114bc9 0%, #11e3eb 100%);
            color: #ffffff;
            padding: 20px;
            opacity: 0.78;
            border-radius: 5px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        #tableFormat{
            display: none;
        }
    </style>

</head>

<body>


    <div class="container">
        <% if(req.session.memberid){ %>
            <div class="intro"><i class="fas fa-bullhorn"></i> You can manage your posts here~ When the post requirement
                of
                your post is fulfilled, system will send notification to you.
            </div>
            <% if(posts.length==0 ){ %>
                <br>
                <h3>Nothing here😐</h3>
                <h6>Let's make your first post now! <a class="btn btn-warning" href="/create">New Post</a></h6>
                <% }else { %>
                    <button class="btn btn-outline-info" style="float: right;" onclick="chView()" id="chBtn">Change to table format</button>
                    <h3 class="text-custom-manage">Manage your posts</h3>
                    <% var cnt=1; %>
                    <% var today=new Date(); %>
                    <% var year=today.getFullYear(); %>
                        <% var month=today.getMonth()+1; %>
                                <% var day=today.toString().split(' ')[2]; %>

                            
                                <div id="oriFormat">
            <% posts.forEach(function(post){ %>
                <% if(cnt%2==1){ %>
                    <!-- Dark card -->
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                            <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                    <%= post.post.title %>
                                </a></h1>
                            <div class="postcard__subtitle small">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                <% var dateStr = post.createDateString.split("T"); %>
                                <%= dateStr[0] %> <%= dateStr[1] %>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <% if(post.post.description){ %>
                                    <%= post.post.description %>
                                        <% }else{ %>
                                            <span style="font-family: cursive;">*No description😳</span>
                                            <% } %>
                            </div>
                            <ul class="postcard__tagbox">
                                <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                <li class="tag__item blink gradientRed">
                                    NEW
                                </li>
                                <% }}} %>
                                <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                    <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                </li>
                                
                            </ul>
                        </div>
                    </article>
                    <!-- Dark card -->
                    <% }else{ %>
                        <!-- Light card -->
                        <article class="postcard light red">
                            <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                                <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                            </a>
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <i class="fas fa-calendar-alt mr-2"></i>
                                    <% var dateStr = post.createDateString.split("T"); %>
                                    <%= dateStr[0] %> <%= dateStr[1] %>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">
                                    <% if(post.post.description){ %>
                                        <%= post.post.description %>
                                            <% }else{ %>
                                                No description😳
                                                <% } %>
                                </div>
                                <ul class="postcard__tagbox">
                                    <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                    <li class="tag__item blink gradientRed">
                                        NEW
                                    </li>
                                    <% }}} %>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                   
                                </ul>
                            </div>
                        </article>
                        <!-- Light card -->
                        <% } %>
                            <% cnt=cnt + 1; %>
                                <% }); %>
                                <% } %>
                                <p style="text-align: center;">End of this page.</p>
                                </div>
                                <% }else { %>
                                    <!-- visitor layout -->
                                    <br><br>
                                    <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                        class="fas fa-sign-in-alt mr-2"></i></li></a> to
                            manage your post </h3>
                                        <!-- visitor layout -->
                                        <% } %>

                                        
                                        <br><br>
    </div>

     <!-- Table format -->
     <div id="tableFormat">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><b>#</b></th>
                    <th>Post ID</th>
                    <th>Post Title</th>
                    <th>Post Date</th>
                    <th>Join no.</th>
                    <th></th>
                </tr>
            </thead>
            <% var cnt=1; %>
        <% posts.forEach(function(post){ %>
            <tr>
                <td>
                    <b>
                        <%= cnt %>
                    </b>
                </td>
                <td>
                    <%= post.postID %>
                </td>
                <td>
                    <%= post.post.title %>
                </td>
            <% var tdateStr = post.createDateString.split("T"); %>
            <td>
                <%= tdateStr[0] %> <%= tdateStr[1] %>
            </td>
            <td>
                <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
            </td>
            <td>
                <a href="/read/post/<%= post._id %>">
                    View Detail
                </a>
            </td>


 
            </tr>
            <% cnt += 1; %>
            <% }); %>
    </div>

</body>

<script>
    function chView(){
        var chBtn = document.getElementById('chBtn');
        if(chBtn.innerHTML == "Change to table format"){
            var tableFormat = document.getElementById('tableFormat');
            var oriFormat = document.getElementById('oriFormat');
            oriFormat.style.display = 'none';
            tableFormat.style.display = "block";

            chBtn.innerHTML = "Original format";
        }else{
            var tableFormat = document.getElementById('tableFormat');
            var oriFormat = document.getElementById('oriFormat');
            oriFormat.style.display = 'block';
            tableFormat.style.display = "none";

            chBtn.innerHTML = "Change to table format";
        }
        

    }
</script>