<head>
    <title>Home Page</title>
    <style>
        .container {
            padding-top: 20px;
            font-family: "Lucida Console", 'monospace';
            font-size: 16px;
            text-rendering: optimizeLegibility;
            font-weight: initial;
        }
    </style>

</head>

<body>


    <div class="container">
        <% if(req.session.memberid){ %>
            <% if(posts.length==0 ){ %>
                <h3>Nothing here😐</h3>
                <% }else { %>
                    <h3 class="text-custom">Manage your posts</h3>
                    <% var cnt=1; %>
                        <% var today=new Date(); %>
                            <% var year=today.getFullYear(); %>
                                <% var month=today.getMonth()+1; %>
                                    <% var day=today.toString().split(' ')[2]; %>
            <% posts.forEach(function(post){ %>
                <% if(cnt%2==1){ %>
                    <!-- Dark card -->
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="/manage/post/<%= post._id %>">
                            <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="/manage/post/<%= post._id %>">
                                    <%= post.post.title %>
                                </a></h1>
                            <div class="postcard__subtitle small">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                <% var dateStr = post.createDateString.split("T"); %>
                                <%= dateStr[0] %> <%= dateStr[1] %>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <% if(post.post.description){ %>
                                    <%= post.post.description %>
                                        <% }else{ %>
                                            <span style="font-family: cursive;">*No description😳</span>
                                            <% } %>
                            </div>
                            <ul class="postcard__tagbox">
                                <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                <li class="tag__item blink gradientRed">
                                    NEW
                                </li>
                                <% }}} %>
                                <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                    <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                </li>
                                <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                    <% if(post.post.HostNickname){ %>
                                        <a href="/read/profile?username=<%= post.HostUsername %>">
                                            <%= post.post.HostNickname %>
                                        </a>
                                        <% }else{ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.HostUsername %>
                                            </a>
                                            <% } %>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <!-- Dark card -->
                    <% }else{ %>
                        <!-- Light card -->
                        <article class="postcard light red">
                            <a class="postcard__img_link" href="/manage/post/<%= post._id %>">
                                <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                            </a>
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title red"><a href="/manage/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <i class="fas fa-calendar-alt mr-2"></i>
                                    <% var dateStr = post.createDateString.split("T"); %>
                                    <%= dateStr[0] %> <%= dateStr[1] %>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">
                                    <% if(post.post.description){ %>
                                        <%= post.post.description %>
                                            <% }else{ %>
                                                No description😳
                                                <% } %>
                                </div>
                                <ul class="postcard__tagbox">
                                    <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                    <li class="tag__item blink gradientRed">
                                        NEW
                                    </li>
                                    <% }}} %>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- Light card -->
                        <% } %>
                            <% cnt=cnt + 1; %>

                                <% }); %>

                                <% } %>
                                <% }else { %>
                                    
                                    <% } %>
    </div>

</body>

<script>
</script>