<head>
    <title>Post detail</title>
    <style>
        .container {
            padding-top: 20px;
        }

        #goToTop{
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            top: 70%;
            left: 4%;
            opacity: 0;
            transition: all ease-in-out .2s;

        }

        input[type=text]:focus,
        input[type=password]:focus {
            background: rgb(238, 238, 238);
        }

        input[type=text]::placeholder,
        input[type=password]::placeholder {
            color: rgb(5, 5, 230);
            font-weight: 500;
        }

        .messageBox .textA {
            position: relative;
            width: 90%;
            height: 100%;
        }

        #message {
            resize: none;
            padding: 8px 10px;
            border-radius: 20px;
            border: none;
            background: rgb(230, 227, 255);
            outline: none;
            color: rgb(5, 5, 230);
            width: 100%;
            font-size: 17px;
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        .button-s1 {
            width: 40px;
            padding: 5px;
            border-radius: 6rem;
            border: none;
            background: transparent;
            outline: none;
            color: rgb(5, 5, 230);
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button-s1 span {
            font-size: calc(40px / 1.5) !important;
        }

        #genMeetLink a {
            color: rgb(5, 5, 230);
        }

        .messageBox {
            background-color: white;
            bottom: 9%;
            left: 0;
            width: 100%;
            height: calc(var(--chatboxH) + 5px);
            display: flex;
            align-items: center;
            padding: 7px 27px;
        }

        .nameAlert {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 130px;
            border-radius: 20px;
        }

        .chatArea {
            height: calc(100vh - var(--chatboxH));
            width: 100%;
            padding: 16px;
            overflow-y: scroll;
        }

        .prof {
            min-width: 35px;
            min-height: 25px;
            height: 35px;
            margin: auto 10px 0 10px;
            background: black;
            color: white;
            font-weight: 570;
            text-align: center;
            border-radius: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .messArea {
            display: grid;
            grid-row-gap: 10px;
            font-size: 14px;
        }

        #sname {
            margin-left: 11px;
            margin-bottom: -6px;
            color: rgb(87, 87, 87);
        }

        .message {
            display: flex;
            width: fit-content;
            max-width: 40rem;
            margin-bottom: 35px;
        }

        .otherM {
            margin-right: auto;
        }

        .mMess {
            margin-left: auto;
            overflow: hidden;
        }

        .mMess .messArea .textM {
            background-color: blue;
            color: white;
            margin-left: auto;
            transition: .6s cubic-bezier(.07, .76, .13, 1.02);
        }

        .newMmess {
            transform: translateY(100px) scale(3);
        }

        .otherM .messArea .textM {
            background-color: white;
        }

        .mMess .messArea .textM a {
            color: white;
        }

        .messArea .textM a {
            font-weight: 500;
        }

        .message .textM {
            width: fit-content;
            border-radius: 10px;
            padding: 10px;
            -webkit-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.03);
            font-size: 17px;
        }

        .welcomeMess {
            text-align: center;
            margin-top: var(--headerH);
            border-bottom: 5px solid rgb(87, 81, 81);
        }

        .welcomeMess h1 {
            font-weight: 600;
            font-size: 24px;
        }

        .welcomeMess .img video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .welcomeMess .img {
            width: 4rem;
            border-radius: 10%;
            overflow: hidden;
            height: 4rem;
            margin: auto;
        }

        .shareLink {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
            padding: 2rem;
            background-color: white;
            text-align: center;
            border-radius: 15px;
            transition: .4s;
            display: none;
            opacity: 0;
            z-index: 2;
        }

        .shareLink button {
            font-weight: 600;
            color: blue;
            width: 6rem;
            margin-top: 5px;
            border-radius: 11px;
            height: 2rem;
            border: none;
            background: rgb(230, 227, 255);
        }

        .shareLink h1 {
            font-weight: 500;
        }

        .headerDet {
            width: 100%;
            height: var(--headerH);
            position: fixed;
            top: 0;
            background-color: white;
            -webkit-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.03);
            display: flex;
            align-items: center;
            padding: 10px;
            transition: top 0.5s;
        }

        .moveTop {
            top: -100px;
        }

        .headerDet .img {
            overflow: hidden;
            width: calc(var(--headerH) - 15px);
            height: calc(var(--headerH) - 15px);
            border-radius: 100%;
        }

        .chatDety {
            display: flex;
            align-items: center;
            flex: 1;
        }

        .headerDet .chatDety .img video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .headerDet .chatDety,
        .nameC p,
        input {
            margin-left: 15px;
            font-weight: 500;
            font-size: 18px
        }

        .nameC {
            position: relative;
            width: 193px;
        }

        #titleFirst {
            width: 221px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .headerDet .chatDety .nameC input {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-2px, -2px);
        }

        .headerDet .tools {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 10px;
        }

        .headerDet .tools button {
            background: transparent;
            border: none;
            outline: none;
            transition: .5s;
        }

        .downDowny {
            bottom: -70px !important;
        }

        .showItem {
            transform: translate(-50%, -50%);
            opacity: 1;
        }

        .blackout {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: .5s;
            z-index: 1;
        }

        .blackShow {
            opacity: 1;
        }

        .clickSettings {
            transform: rotate(180deg);
        }

        .changeW {
            transition: .7s;
        }

        .clickSettingsCont {
            width: 75%;
        }

        .settingsBar {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            height: 100%;
            overflow: hidden;
            width: 25%;
            transform: translateX(400px);
            transition: .67s;
            padding: 46px 10px 0px 10px;
            overflow-y: scroll;
        }

        .blueTarget {
            color: blue;
        }

        .clickSettingsBar {
            transform: translateX(0px);
        }

        .settingsBar .headerSet {
            border-bottom: 1px solid rgb(199, 199, 199);
            padding-bottom: 19px;
            margin-bottom: 15px;
        }

        .errorsSide {
            position: absolute;
            bottom: 80px;
            right: 30px;
        }

        .errorsSide .bubble {
            background: rgba(255, 0, 0, 0.7);
            color: white;
            padding: 10px;
            border-radius: 12px;
            width: 20rem;
            opacity: 0;
            transition: 1s;
            transform: translateY(50px);
            display: none;
            margin-bottom: 10px;
            z-index: 3;
        }

        .errorsSide #errorBubble {
            background: rgba(255, 0, 0, 0.7);
        }

        .errorsSide #tipsBubble {
            background: rgba(47, 0, 255, 0.7);
        }


        .errorsSide .bubble h1 {
            font-size: 20px;
            display: flex;
            align-items: center;
        }

        .errorsSide .bubble span {
            margin-right: 10px;
        }

        .errorsSide .bubble p {
            margin-right: 10px;
        }

        .bubbleAfter {
            opacity: 1 !important;
            transform: translateY(0px) !important;
        }

        .bubbleGone {
            opacity: 0 !important;
            transform: translateY(-50px) !important;
        }

        .timeId {
            text-align: center;
            margin: 12px;
            font-size: 13px;
        }


        ::-webkit-scrollbar {
            width: 15px;
            height: 15px;
            border-left: #ededed solid 1px;
            background-color: #fcfcfc;
            border-top: #ededed solid 1px;
        }

        ::-webkit-scrollbar-thumb:hover {
            cursor: pointer;
            background: #c7c7c7;
            width: 15px;
            background-clip: content-box;
            border: 4px solid transparent;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-button {
            display: none;
        }

        ::-webkit-scrollbar-thumb {
            background: #dbdbdb;
            background-clip: content-box;
            border: 4px solid transparent;
            border-radius: 10px;

        }
    </style>

</head>

<body>


    <% if(!post){ %>
        <h1>No result!</h1><small>Please make sure the id field in the path is correct!</small>
        <% }else{ %>
            <div class="container">
                <button class="btn btn-outline-secondary" type="button" style="float: right;"
                    onclick="window.history.back()">Back</button>
                <h3>Post Detail:</h3>

                <!-- Light card -->
                <article class="postcard light red">
                    <a class="postcard__img_link">
                        <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                    </a>
                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title red"><a href="#">
                                <%= post.post.title %>
                            </a></h1>
                        <div class="postcard__subtitle small">
                            <i class="fas fa-calendar-alt mr-2"></i>
                            <%= post.createDate %>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            <% if(post.post.description){ %>
                                <%= post.post.description %>
                                    <% }else{ %>
                                        No description😳
                                        <% } %>
                        </div>

                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                            </li>
                            <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                <% if(post.post.HostNickname){ %>
                                    <a href="/read/profile?username=<%= post.HostUsername %>">
                                        <%= post.post.HostNickname %>
                                    </a>
                                    <% }else{ %>
                                        <a href="/read/profile?username=<%= post.HostUsername %>">
                                            <%= post.HostUsername %>
                                        </a>
                                        <% } %>
                            </li>
                            <li class="tag__item" id="creditTag">
                            </li>
                            <li class="tag__item play red">
                                <% if(req.session.memberid){ %>
                                    <% if(req.session.memberid == "admin"){ %>
                                        <a href="#"><i class="fas fa-edit mr-2"></i>Edit</a>
                                        <% }else{ %>
                                    <% if(post.HostUsername !=req.session.memberid){ %>
                                        <% var duplicated=false; %>
                                            <% post.joinedMembers.forEach(function(member){ %>
                                                <% if(member==req.session.memberid){ %>
                                                    <% duplicated=true; %>
                                                        <% } %>
                                                            <% }) %>
                                                                <% if(duplicated){ %>
                                                                    <a onclick="window.scrollTo(0, document.body.scrollHeight);" style="cursor: pointer;"><i
                                                                            class="fas fa-comments mr-2"></i>Chat</a>
                                                                    <% }else{ %>
                                                                        <a href="/join/<%= post._id %>"><i
                                                                                class="fas fa-hand-o-right mr-2"></i>Join</a>
                                                                        <% } %>
                                                                            <% }else { %>
                                                                                <a href="#"><i
                                                                                        class="fas fa-edit mr-2"></i>Manage</a>
                                                                                <% } %> <% } %>
                                                                                    <% }else{ %>
                                                                                        <a href="/login"><i
                                                                                                class="fas fa-sign-in-alt mr-2"></i>Login
                                                                                            to
                                                                                            Join</a>
                                                                                        <!-- should store url session to nav back later -->
                                                                                        <% } %>
                            </li>
                        </ul>
                    </div>
                </article>

                <div>
                    <b>Joined members: </b>
                    <a href="/read/profile?username=<%= post.HostUsername %>">
                        <% if(post.post.HostNickname){ %>
                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                <i class="fas fa-user-secret mr-2"></i>
                                <%= post.post.HostNickname %>
                            </a>
                            <% }else{ %>
                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                    <i class="fas fa-user-secret mr-2"></i>
                                    <%= post.HostUsername %>
                                </a>
                                <% } %>&#160;
                    </a>
                    <% post.joinedMembers.forEach(function(m){ %>
                        <a href="/read/profile?username=<%= m %>"><i class="fas fa-user mr-2"></i>
                            <%= m %>&#160;
                        </a>
                        <% }); %>


                            <% if(req.session.memberid){ %>
                                <% if(duplicated==true){ %>
                                    <li class="tag__item">
                                        <a href="/leave/post/<%= post._id %>">
                                            <i class="fas fa-sign-out-alt mr-2"></i>leave
                                        </a>
                                    </li>
                                    <% } %>
                                        <% } %>

                </div>
                <!-- Light card -->

                <div><small>Reference link(s):</small></div>
                <% post.post.attribution.forEach(function(link){ %>
                    <div><small>
                            <a style="color: blue;" href="<%= link %>" target="_blank">
                                <%= link %>
                            </a>
                        </small></div>
                    <% }) %>

                        <!-- history -->
                        <small>
                            History:
                            <div>
                            <% post.joinedHistory.forEach(function(h){ %>
                                <div>
                                    <%= h %>
                                </div>
                                <% }) %>
                            </div>
                        </small>
                        
                        <!-- history -->


                        <!-- input comment -->
                        <% if(req.session.memberid){ %>

                            <div class="mainChater">
                                <div class="chatArea changeW">
                                    <div class="chatMessages" id="chatMessages">
                                        <!--Start of Chat cont-->

                                        <div class="welcomeMess"><i class="far fa-comment-alt"
                                                style="font-size: 50px;"></i>
                                            <h1 class="roomTitle">Chat Room</h1>
                                            <!-- <p id="copyLinker2" class="copyLinker2">#40</p> -->
                                        </div>


                                        <% var perviousCommentDate = ""; %>
                                        <% post.comments.forEach(function(cm){ %>
                                            <% if(perviousCommentDate){ %>
                                                <!-- Check DD/MM/YYYY -->
                                                <% var arr1 = perviousCommentDate.split(" "); %>
                                                <% var arr2 = cm.byDate.split(" "); %>
                                                <!-- Check DD/MM/YYYY -->
                                                <% if(arr1[0] == arr2[0]){ %>
                                                    <!-- Check time (hour and minutes) -->
                                                <% var arr3 = arr1[1].split(":"); %>
                                                <% var arr4 = arr2[1].split(":"); %>
                                                <!-- Check time (hour and minutes) -->
                                                <% if(arr3[0] == arr4[0]){ %>
                                                    <% var PreviousMinutes = parseInt(arr3[1]); %>
                                                    <% var NowMinutes = parseInt(arr4[1]); %>
                                                    <% var minutesDiff = PreviousMinutes - NowMinutes; %>
                                                    <!-- not showing datetime if it is within 5 minutes difference -->
                                                    <% if(minutesDiff == 0 || minutesDiff == 1 || minutesDiff == 2 || minutesDiff == 3 || minutesDiff == 4 || minutesDiff == 5 ||minutesDiff == -1 ||minutesDiff == -2 ||minutesDiff == -3 ||minutesDiff == -4 ||minutesDiff == -5 ){ %>
                                                    <% }else { %>
                                                        <p class="timeId"><%= cm.byDate %></p>
                                                        <% } %>
                                                    <% }else{ %>
                                                        <p class="timeId"><%= cm.byDate %></p>
                                                        <% } %>

                                                    <% }else{ %>
                                                        <p class="timeId"><%= cm.byDate %></p>
                                                        <% } %>
                                                
                                                <% }else{ %>
                                                    <p class="timeId"><%= cm.byDate %></p>
                                                    <% } %>
                                            <% perviousCommentDate = cm.byDate; %>
                                            
                                            <% var displayName="" ; %>
                                            <!-- cut length of username -->
                                                <% if(cm.byUsername.length> 2){ %>
                                                    <% displayName=cm.byUsername.substring(0,1); %>
                                                        <% }else{ %>
                                                            <% displayName=cm.byUsername; %>
                                                                <% } %>


                                                                    <% if(cm.byUsername !=req.session.memberid){ %>
                                                                        <% var randomColor = Math.floor(Math.random()*16777215).toString(16); %>
                                                                        <% var hexCode = "#" + randomColor; %>
                                                                        
                                                                        <!-- other users layout -->
                                                                        <div class="message">
                                                                            <div class="prof">
                                                                                <p>
                                                                                    <%= displayName %>
                                                                                </p>
                                                                            </div>
                                                                            <div class="messArea">
                                                                                <p id="sname">
                                                                                    <%= cm.byUsername %>
                                                                                </p>
                                                                                <div class="textM">
                                                                                    <%= cm.content %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- other users layout -->
                                                                        <% }else{ %>
                                                                            <!-- session user layout -->
                                                                            <div class="message mMess 1122334"
                                                                                data-number="1122334">
                                                                                <div class="messArea">
                                                                                    <p id="sname">
                                                                                        <%= cm.byUsername %>
                                                                                    </p>
                                                                                    <div class="textM">
                                                                                        <%= cm.content %>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="prof"
                                                                                    style="background-color: #ff7b54;">
                                                                                    <p>
                                                                                        <%= displayName %>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <!-- session user layout -->
                                                                            <% } %>
                                                                                <% }); %>
                                                                                    <!--End of Chat cont-->
                                    </div>
<a id="goToTop" onclick="window.scrollTo(0, 0);"><i class="fas fa-angle-double-up"></i></a>

<% if(req.session.memberid){ %>
    <% if(post.HostUsername == req.session.memberid || duplicated==true){ %>
                                    <div class="messageBox" id="messageBox">
                                        
                                        <% var displayName="" ; %>
                                            <!-- cut length of username -->
                                                <% if(req.session.memberid.length> 2){ %>
                                                    <% displayName=req.session.memberid.substring(0,1); %>
                                                        <% }else{ %>
                                                            <% displayName= req.session.memberid; %>
                                                                <% } %>
                                        <div class="prof" style="background-color: #ff7b54;  margin-bottom: 39px;">
                                            <p><%= displayName %></p>
                                        </div>
                                        <div class="textA"><textarea id="message" name="message" rows="1" cols="30"
                                                placeholder="Type your message here"></textarea>
                                            
                                            </div>
                                        <button class="btn btn-outline-primary" id="send" type="button" style="float: right; margin-bottom: 39px;"
                                            onclick="fetchCommentToDB(document.getElementById('message').value); sendT(document.getElementById('message').value); document.getElementById('message').value = ''; "><i
                                                class="fas fa-paper-plane"></i></button>
                                    </div>
                                    <% }} %>
                                    <div id="chat"></div>
                                </div>

                                <% }; %>
                                    <!-- input comment -->

                            </div>



                            <% } %>
</body>

<script>

    // set the credit level
    var creditScore = "<%= post.creditScore %>";
    if (creditScore > 90) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-smile-wink mr-2\"></i>creditable";
    } else if (creditScore > 70) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += " <i class=\"fas fa-thumbs-up mr-2\"></i>trustworthy";
    } else if (creditScore > 50) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-thumbs-down mr-2\"></i>deceptive";
    } else {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-frown-open mr-2\"></i>misleading";
    }
    

</script>

<script>

    myID = document.getElementById("goToTop");
    var body = document.body,
        html = document.documentElement;
    var height = Math.max(body.scrollHeight, body.offsetHeight,
        html.clientHeight, html.scrollHeight, html.offsetHeight);

    var myScrollFunc = function () {
        var y = window.scrollY;
        height = height * 0.87; // actual height is less that 100% height
        var percentage = y / height * 100;
        if (percentage > 80) {
            myID.style.opacity = 1;
            sendButton.disabled = false;
        } else {
            myID.style.opacity = 0;
            sendButton.disabled = true;
        }
    };

    window.addEventListener("scroll", myScrollFunc);
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    function sendT(x) {
        // handle empty input
        var trimString = x.trim();
        if (trimString == "") {
            // already been notified by another function fetchCommentToDB();
            // alert("Please input something!");
            return;
        }

        var displayName = "";
        var sessionName = "<%= req.session.memberid %>";
        var sessionNameLength = sessionName.length;
        if (sessionNameLength) {
            if (sessionNameLength > 2) {
                // crop name to one char, if more than 2 chars
                displayName = sessionName.substring(0, 1);
            } else {
                displayName = sessionName;
            }

            var chat = "<div class=\"message mMess 1122334\" data-number=\"1122334\">" +
                "<div class=\"messArea\">" +

                // condition element
                "<p id=\"sname\">" + sessionName + "</p>" +
                // condition element

                "<div class=\"textM\">" + x + "</div>" +
                "</div>" +

                // condition element
                "<div class=\"prof\" style=\"background-color: #ff7b54;\">" +
                "<p>" + displayName + "</p>" +
                "</div>" +
                // condition element


                "</div>";
            $("#chatMessages").append(chat);
            window.scrollTo(0, document.body.scrollHeight);
        }

    }


    async function fetchCommentToDB(y) {
        // handle empty input
        var trimString = y.trim();
        if (trimString == "") {
            alert("Please input something!");
            return;
        }
        var response = await fetch("/comment/<%= post._id %>/" + y, { method: "POST" });

        if (response.ok) {
            // do nothing
        } else {
            var msg = response.statusText;
            alert("Error in sending message:\n\"" + y + "\"\n" + msg);
            location.reload();
        }
    }
</script>