<head>
    <title>Post detail</title>
    <style>
        .container {
            padding-top: 20px;
        }
    </style>

</head>

<body>


    <% if(!post){ %>
        <h1>No result!</h1><small>Please make sure the id field in the path is correct!</small>
        <% }else{ %>
            <div class="container">
                <button class="btn btn-outline-secondary" type="button" style="float: right;"
                    onclick="window.history.back()">Back</button>
                <h3>Post Detail:</h3>

                <!-- Light card -->
                <article class="postcard light red">
                    <a class="postcard__img_link">
                        <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                    </a>
                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title red"><a href="#">
                                <%= post.post.title %>
                            </a></h1>
                        <div class="postcard__subtitle small">
                            <i class="fas fa-calendar-alt mr-2"></i>
                            <%= post.createDate %>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            <% if(post.post.description){ %>
                                <%= post.post.description %>
                                    <% }else{ %>
                                        No description😳
                                        <% } %>
                        </div>

                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                            </li>
                            <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                <% if(post.post.HostNickname){ %>
                                    <a href="/read/profile?username=<%= post.HostUsername %>">
                                        <%= post.post.HostNickname %>
                                    </a>
                                    <% }else{ %>
                                        <a href="/read/profile?username=<%= post.HostUsername %>">
                                            <%= post.HostUsername %>
                                        </a>
                                        <% } %>
                            </li>
                            <li class="tag__item" id="creditTag">
                            </li>
                            <li class="tag__item play red">
                                <% if(req.session.memberid){ %>
                                    <% if(post.HostUsername !=req.session.memberid){ %>
                                        <% var duplicated=false; %>
                                            <% post.joinedMembers.forEach(function(member){ %>
                                                <% if(member==req.session.memberid){ %>
                                                    <% duplicated=true; %>
                                                        <% } %>
                                                            <% }) %>
                                                                <% if(duplicated){ %>
                                                                    <a href="#"><i
                                                                            class="fas fa-comments mr-2"></i>Chat</a>
                                                                    <% }else{ %>
                                                                        <a href="/join/<%= post._id %>"><i
                                                                                class="fas fa-hand-o-right mr-2"></i>Join</a>
                                                                        <% } %>
                                                                            <% }else { %>
                                                                                <a href="#"><i
                                                                                        class="fas fa-edit mr-2"></i>Manage</a>
                                                                                <% } %>
                                                                                    <% }else{ %>
                                                                                        <a href="/login"><i
                                                                                                class="fas fa-sign-in-alt mr-2"></i>Login
                                                                                            to
                                                                                            Join</a>
                                                                                        <!-- should store url session to nav back later -->
                                                                                        <% } %>
                            </li>
                        </ul>
                    </div>
                </article>

                <div>
                    <b>Joined members: </b>
                    <a href="/read/profile?username=<%= post.HostUsername %>">
                        <% if(post.post.HostNickname){ %>
                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                <i class="fas fa-user-secret mr-2"></i>
                                <%= post.post.HostNickname %>
                            </a>
                            <% }else{ %>
                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                    <i class="fas fa-user-secret mr-2"></i>
                                    <%= post.HostUsername %>
                                </a>
                                <% } %>&#160;
                    </a>
                    <% post.joinedMembers.forEach(function(m){ %>
                        <a href="/read/profile?username=<%= m %>"><i class="fas fa-user mr-2"></i>
                            <%= m %>&#160;
                        </a>
                        <% }); %>


                        <% if(req.session.memberid){ %>
                            <% if(duplicated==true){ %>
                            <li class="tag__item">
                                <a href="/leave/post/<%= post._id %>">
                                    <i class="fas fa-sign-out-alt mr-2"></i>leave
                                </a>
                            </li>
                            <% } %>
                            <% } %>

                </div>

                <!-- Light card -->
                <div><small>Reference link(s):</small></div>
                <% post.post.attribution.forEach(function(link){ %>
                    <div><small>
                            <a style="color: blue;" href="<%= link %>" target="_blank">
                                <%= link %>
                            </a>
                        </small></div>
                    <% }) %>

                        <!-- Comment or reply -->

                        <!-- Comment or reply -->


            </div>



            <% } %>
</body>

<script>

    // set the credit level
    var creditScore = "<%= post.creditScore %>";
    if (creditScore > 90) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-smile-wink mr-2\"></i>creditable";
    } else if (creditScore > 70) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += " <i class=\"fas fa-thumbs-up mr-2\"></i>trustworthy";
    } else if (creditScore > 50) {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-thumbs-down mr-2\"></i>deceptive";
    } else {
        document.getElementById("creditTag").innerHTML = "";
        document.getElementById("creditTag").innerHTML += "<i class=\"fas fa-frown-open mr-2\"></i>misleading";
    }

</script>