<head>
    <title>Post History</title>
    <style>
        .empty{
            font: 47px "Amatic SC", sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
        <!-- member layout -->
        <% if(req.session.memberid){ %>
            <% if(user.username=="admin" ){ %>
                <h2>Post History is not applicable for Admin User</h2>
                <button class="btn btn-outline-secondary" type="button" onclick="window.history.back()">Back</button>
                <% }else{ %>
                    <h3>Post History (@<%= user.username %>)</h3>
                    <button class="btn btn-outline-secondary" type="button" style="position: absolute; right: 10%; top: 12.4%;" onclick="window.history.back()">Back</button>

                    <% if(posts.length == 0){ %>
                    <h1 class="empty">The post history is empty.</h1>
                    <% }else{ %>
                    <small>Total: <%= posts.length %></small>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Post ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Create Date</th>
                                <th scope="col">Update Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var offset=1; %>
                            <% posts.forEach(function(post){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= offset %>
                                        </th>
                                        <td>
                                            <%= post.postID %>
                                        </td>
                                        <td>
                                            <%= post.post.title %>
                                        </td>
                                        <% var createArr=post.createDateString.split("T"); %>
                                            <td>
                                                <%= createArr[0] %>
                                                    <%= createArr[1] %>
                                            </td>
                                            <% if(post.updateDateString){ %>
                                                <% var updateArr=post.updateDateString.split("T"); %>
                                                    <td>
                                                        <%= updateArr[0] %>
                                                            <%= updateArr[1] %>
                                                    </td>
                                                    <% }else{ %>
                                                        <td>N/A</td>
                                                        <% } %>
                                                            <td>
                                                                <% if(post.status == "Active"){ %>
                                                                <b style="color: rgb(90, 20, 255);"><%= post.status %></b>
                                                                <% }else if(post.status == "Deleted"){ %>
                                                                    <b style="color: rgb(83, 84, 102);"><%= post.status %></b>
                                                                <% }else{ %>
                                                                    <b style="color: rgb(248, 20, 20);"><%= post.status %></b>
                                                                <% } %>
                                                            </td>
                                                            <% if(req.session.memberid == "admin"){ %>
                                                                <td>
                                                                    <a href="/view/history/post/<%= post.postID %>">Detail</a>
                                                                </td>
                                                                <% } %>

                                    </tr>


                                    <% offset=offset + 1; %>
                                        <% }); %>
                        </tbody>
                    </table>
                    <% } %>

                    <% } %>
                        <% }else{ %>
                            <!-- visitor layout -->
                            <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                            class="fas fa-sign-in-alt mr-2"></i></li></a> to
                                browse user' s
                                post history
                            </h3>
                            <!-- should store url session to nav back later -->

                            <!-- visitor layout -->
                            <% } %>

                                <br><br>
    </div>

</body>