<head>
    <title>Home Page</title>
    <style>
        .container {
            padding-top: 20px;
            font-family: "Lucida Console", 'monospace';
            font-size: 16px;
            text-rendering: optimizeLegibility;
            font-weight: initial;
        }

        #Top{
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            top: 70%;
            left: 4%;
            opacity: 0;
            transition: all ease-in-out .2s;
        }
    </style>

</head>

<body>


    <div class="container">
        <h3 class="text-custom">Latest posts</h3>
        <a id="Top" onclick="window.scrollTo(0, 0);"><i class="fas fa-angle-double-up"></i></a>

        <% var cnt=1; %>
        <% var today = new Date(); %>
        <% var year = today.getFullYear(); %>
        <% var month = today.getMonth()+1; %>
        <% var day = today.toString().split(' ')[2]; %>
            <% posts.forEach(function(post){ %>
                <% if(cnt%2==1){ %>
                    <!-- Dark card -->
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                            <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                    <%= post.post.title %>
                                </a></h1>
                            <div class="postcard__subtitle small">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                <%= post.createDate %>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <% if(post.post.description){ %>
                                    <%= post.post.description %>
                                        <% }else{ %>
                                            <span style="font-family: cursive;">*No description😳</span>
                                            <% } %>
                            </div>
                            <ul class="postcard__tagbox">
                                <% var dateAndTime = post.createDate.split(" "); %>
                                <% var DDMMYYYY = dateAndTime[0].split("/"); %>
                                <% if(DDMMYYYY[2] == year){ %>
                                    <% if(DDMMYYYY[1] == month){ %>
                                        <% if(DDMMYYYY[0] == day){ %>
                                <li class="tag__item blink gradientRed">
                                    NEW
                                </li>
                                <% }}} %>
                                <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                    <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                </li>
                                <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                    <% if(post.post.HostNickname){ %>
                                        <a href="/read/profile?username=<%= post.HostUsername %>">
                                            <%= post.post.HostNickname %>
                                        </a>
                                        <% }else{ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.HostUsername %>
                                            </a>
                                            <% } %>
                                </li>
                                <li class="tag__item play red">
                                    <% if(req.session.memberid){ %>
                                        <% if(req.session.memberid == "admin"){ %>
                                            <a href="#"><i class="fas fa-edit mr-2"></i>Edit</a>
                                            <% }else{ %>
                                        <% if(post.HostUsername != req.session.memberid){ %>
                                            <% var duplicated = false; %>
                                            <% post.joinedMembers.forEach(function(member){ %>
                                                <% if(member == req.session.memberid){ %>
                                                    <% duplicated = true; %>
                                                    <% } %>
                                                <% }) %>
                                                <% if(duplicated){ %>
                                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                                    <% }else{ %>
                                            <a href="/join/<%= post._id %>"><i class="fas fa-hand-o-right mr-2"></i>Join</a>
                                            <% } %>
                                            <% }else { %>
                                                <a href="#"><i class="fas fa-edit mr-2"></i>Manage</a>
                                                <% } %>
                                                <% } %>
                                        <% }else{ %>
                                            <a href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login to Join</a>
                                            <!-- should store url session to nav back later -->
                                            <% } %>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <!-- Dark card -->
                    <% }else{ %>
                        <!-- Light card -->
                        <article class="postcard light red">
                            <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                                <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                            </a>
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <i class="fas fa-calendar-alt mr-2"></i>
                                    <%= post.createDate %>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">
                                    <% if(post.post.description){ %>
                                        <%= post.post.description %>
                                            <% }else{ %>
                                                No description😳
                                                <% } %>
                                </div>
                                <ul class="postcard__tagbox">
                                    <% var dateAndTime = post.createDate.split(" "); %>
                                    <% var DDMMYYYY = dateAndTime[0].split("/"); %>
                                    <% if(DDMMYYYY[2] == year){ %>
                                        <% if(DDMMYYYY[1] == month){ %>
                                            <% if(DDMMYYYY[0] == day){ %>
                                    <li class="tag__item blink gradientRed">
                                        NEW
                                    </li>
                                    <% }}} %>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host by:
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                    </li>
                                    <li class="tag__item play red">
                                        <% if(req.session.memberid){ %>
                                            <% if(req.session.memberid == "admin"){ %>
                                                <a href="#"><i class="fas fa-edit mr-2"></i>Edit</a>
                                                <% }else{ %>
                                             <% if(post.HostUsername != req.session.memberid){ %>
                                                <% var duplicated = false; %>
                                                <% post.joinedMembers.forEach(function(member){ %>
                                                    <% if(member == req.session.memberid){ %>
                                                        <% duplicated = true; %>
                                                        <% } %>
                                                    <% }) %>
                                                    <% if(duplicated){ %>
                                                        <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                                        <% }else{ %>
                                                <a href="/join/<%= post._id %>"><i class="fas fa-hand-o-right mr-2"></i>Join</a>
                                                <% } %>
                                            <% }else { %>
                                                <a href="#"><i class="fas fa-edit mr-2"></i>Manage</a>
                                                <% } %>
                                                <% } %>
                                            <% }else{ %>
                                                <a href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login to
                                                    Join</a>
                                                <% } %>
                                                
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- Light card -->
                        <% } %>
                            <% cnt=cnt + 1; %>

                                <% }); %>

    </div>

</body>


<script>
    myID = document.getElementById("Top");
    var body = document.body,
        html = document.documentElement;
    var height = Math.max(body.scrollHeight, body.offsetHeight,
        html.clientHeight, html.scrollHeight, html.offsetHeight);

    var myScrollFunc = function () {
        var y = window.scrollY;
        height = height * 0.87; // actual height is less that 100% height
        var percentage = y / height * 100;
        if (percentage > 80) {
            myID.style.opacity = 1;
            sendButton.disabled = false;
        } else {
            myID.style.opacity = 0;
            sendButton.disabled = true;
        }
    };

    window.addEventListener("scroll", myScrollFunc);
</script>