<head>
    <title>Home Page</title>
    <style>

        .container {
            padding-top: 15px;
            font-size: 16px;
            font-family: "Raleway", sans-serif,"Amatic SC";
        }

        #Top {
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            top: 70%;
            left: 4%;
            opacity: 0;
            transition: all ease-in-out .2s;
        }

        .trigger-menu-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding-top: 58px;
            padding-left: 25px;
            background-color: #d381f3;
            transition: transform 0.4s;
        }

        .page-header .trigger-menu {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: #fcfcfc;
            letter-spacing: 0.2em;
        }

        .page-header .trigger-menu svg {
            fill: #fcfcfc;
            margin-right: 8px;
            transition: transform 0.3s;
        }

        .page-header .menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            text-align: center;
            padding: 15vh 0 5vh;
            overflow: auto;
            z-index: 1;
            background: #3ffad1;
        }

        .page-header .menu a {
            font-size: 3rem;
        }

        .page-header .sub-menu a {
            font-size: 1.5rem;
        }

        .lottie-wrapper {
            position: fixed;
            bottom: 50px;
            right: 25px;
            z-index: 1;
            padding: 5px;
            border-radius: 5px;
        }

        .page-main section {
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }

        .page-main section::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.25);
        }

        .menu-open {
            overflow: hidden;
        }

        .menu-open .trigger-menu-wrapper {
            background: transparent;
        }

        .menu-open .page-header .menu {
            display: block;
        }

        .menu-open .page-header svg {
            transform: rotate(45deg);
        }


        .scroll-down .trigger-menu-wrapper {
            transform: translate3d(0, -100%, 0);
        }

        .scroll-up .trigger-menu-wrapper {
            transform: none;
        }

        .scroll-up:not(.menu-open) .trigger-menu-wrapper {
            background: #d381f3;
            opacity: 0.93;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
        }

        .range-container {
            position: relative;
            top: 5px;
        }

        input[type="range"] {
            width: 290px;
            margin: 18px 0;
            -webkit-appearance: none;
        }

        input[type="range"]:focus {
            outline: none;
        }

        input[type="range"]+label {
            background-color: rgb(201, 74, 206);
            position: absolute;
            top: 8px;
            left: 110px;
            width: 80px;
            padding: 5px 0;
            text-align: center;
            border-radius: 4px;
            opacity: 0.6;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        /* Chrome & Safari */
        input[type="range"]::-webkit-slider-runnable-track {
            background: purple;
            border-radius: 4px;
            width: 100%;
            height: 10px;
            cursor: pointer;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid purple;
            margin-top: -7px;
            cursor: pointer;
        }

        /* Firefox */
        input[type="range"]::-moz-range-track {
            background: purple;
            border-radius: 4px;
            width: 100%;
            height: 14px;
            cursor: pointer;
        }

        input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid purple;
            margin-top: -7px;
            cursor: pointer;
        }

        /* IE */
        input[type="range"]::-ms-track {
            background: purple;
            border-radius: 4px;
            width: 100%;
            height: 14px;
            cursor: pointer;
        }

        input[type="range"]::-ms-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid purple;
            margin-top: -7px;
            cursor: pointer;
        }

        .wrapBrand{
            position: absolute;
            top: 15px;
            left: 15px;
        }

        .popup {
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            background-color: rgba(112, 112, 112, 0.616);
            z-index: 999;
        }

        #form {
            position: relative;
            background-color: #f5f5f5;
            border: 1px solid #212121;
            border-radius: 2px;
            padding: 20px;
            width: 300px;
            left: 50%;
            top: 30%;
            margin-left: -150px;
           
        }

        .intro {
            font: bold 18px "Raleway", sans-serif;
            background-image: linear-gradient(15deg, #3923ff 0%, #f11cf8 100%);
            color: #ffffff;
            padding: 20px;
            opacity: 0.78;
            border-radius: 5px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        .intro:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        #lets{
            font: bold 30px "Amatic SC", sans-serif;
            color: rgb(136, 255, 0);
            margin-bottom: 15px;
        }

        #close {
            position: absolute;
            font-weight: bold;
            cursor: pointer;
            color: rgb(231, 4, 4);
            margin-left: 788px;
            margin-top: 145px;
        }
    </style>

</head>

<body>

    <header class="page-header">
        <nav>
            <div class="trigger-menu-wrapper">
                <a class="navbar-brand wrapBrand" href="/">
                    <span style="color: #effc38">Happy</span>
                    <span style="color: #ffb671">Share:)</span>
                  </a>
                <div class="form-row trigger-menu">
                    <div class="form-group col-md-3">
                        <label style="color: rgb(5, 45, 177); "><b>Filter by</b></label>
                        <input type="string" class="form-control" name="keywords" id="keywords" placeholder="Keywords">
                    </div>

                    <div class="form-group col-md-3">
                        <label style="color: rgb(5, 45, 177); "><b>Discount Type</b></label>
                           <select class="form-control" name="dType" id="dType">
                               <option value="" selected disabled>Please select one</option>
                               <option value="Buy X get Y free">Buy X get Y free</option>
                               <option value="Percentage">Percentage</option>
                               <option value="Promo Code">Promo Code</option>
                               <option value="Cash Back">Cash Back</option>
                               <option value="Other">Other</option>
                           </select>   
                    </div>

                    <div class="form-group col-md-2">
                        <label style="color: rgb(5, 45, 177); "><b>Category</b></label>
                        <select class="form-control" name="cat" id="cat">
                            <option value="" selected disabled>Please select one</option>
                            <option value="fnd">Food&Drink</option>
                            <option value="elect">Electronic</option>
                            <option value="colthing">Colthing</option>
                            <option value="necessity">Necessity</option>
                        </select>   
                 </div>

                    <!-- div class="form-group col-md-2">
                        <label style="color: rgb(4, 160, 139);"><b>Date before</b></label>
                        <input type="date" class="form-control" name="date" id="date">
                    </div !-->
                    
                    <div>
                        <button type="button" class="btn btn-outline-primary" style="margin-top: 23px;"
                            onclick="window.location='?keywords='+document.getElementById('keywords').value+'&dType='+document.getElementById('dType').value+'&cat='+document.getElementById('cat').value"><i
                                class="fas fa-search"></i></button>
                    </div>

                    <a onclick="window.scrollTo(0, 0);"><i class="far fa-arrow-alt-circle-up"
                            style="font-size: 40px; margin-left:170px; margin-top:20px; cursor: pointer;"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <br><br><br>
        <% if(search){ %>
            <h3 class="text-custom">Search results: (<%= postCnt %>)</h3>
            <% }else{ %>
                
                <div class="intro"><i class="fas fa-megaphone"></i>Here are the latest posts on the platform. You can filter the post by any keywords,
                  discount type and category.
                </div>
                <h6 id="lets">Let's find your favorite discount/offer here!</h6>

                <h3 class="text-custom">Latest posts (<%= postCnt %>)</h3>
                <% } %>
                <% if(postCnt == 0){ %>
                    <h3>No result🤔</h3>
                    <% } %>
                    <a id="Top" onclick="window.scrollTo(0, 0);"><i class="fas fa-angle-double-up"></i></a>

                    <% var cnt=1; %>
                        <% var today=new Date(); %>
                            <% var year=today.getFullYear(); %>
                                <% var month=today.getMonth()+1; %>
                                    <% var day=today.toString().split(' ')[2]; %>
            <% posts.forEach(function(post){ %>
                <% if(cnt%2==1){ %>
                    <!-- Dark card -->
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                            <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                    <%= post.post.title %>
                                </a></h1>
                            <div class="postcard__subtitle small">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                <% var dateStr = post.createDateString.split("T"); %>
                                <%= dateStr[0] %> <%= dateStr[1] %>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <% if(post.post.description){ %>
                                    <% if(post.post.description.length > 40){ %>
                                        <%= post.post.description.substring(0,39) %>...
                                        <% }else{ %>
                                    <%= post.post.description %>
                                    <% } %>
                                        <% }else{ %>
                                            <span>*No description😳</span>
                                            <% } %>
                            </div>
                            <ul class="postcard__tagbox">
                                <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                <li class="tag__item blink gradientRed">
                                    NEW
                                </li>
                                <% }}} %>
                                <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                    <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                </li>
                                <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host:
                                    <b>
                                    <% if(post.post.HostNickname){ %>
                                        <a href="/read/profile?username=<%= post.HostUsername %>">
                                            <%= post.post.HostNickname %>
                                        </a>
                                        <% }else{ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.HostUsername %>
                                            </a>
                                            <% } %>
                                    </b>
                                </li>
                                <% if(req.session.memberid == "admin"){ %>
                                    <form>
                                        <input value="<%= cnt %>" name="popupIndex" readonly hidden>
                                         <button class="btn btn-danger" type="button" onclick="show(this.form)" style="cursor: pointer;"><i class="fas fa-ban mr-2"></i>DELETE</button>
                                    </form>
                                    <% }else{ %>
                                <li class="tag__item play red">
                                    <% if(req.session.memberid){ %>
                                        <% if(post.HostUsername != req.session.memberid){ %>
                                            <% var duplicated = false; %>
                                            <% post.joinedMembers.forEach(function(member){ %>
                                                <% if(member == req.session.memberid){ %>
                                                    <% duplicated = true; %>
                                                    <% } %>
                                                <% }) %>
                                                <% if(duplicated){ %>
                                                    <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                                    <% }else{ %>
                                            <a onclick="checkValidJoin('<%= post._id %>','<%= post.joinedMembers.length %>','<%= post.post.memberLimit %>')" style="cursor: pointer;"><i class="fas fa-hand-o-right mr-2"></i>Join</a>
                                            <% } %>
                                            <% }else { %>
                                                <a href="/manage/post/<%= post._id %>"><i class="fas fa-edit mr-2"></i>Edit</a>
                                                <% } %>
                                               
                                        <% }else{ %>
                                            <a href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login to Join</a>
                                            <!-- should store url session to nav back later -->
                                            <% } %>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </article>
                    <!-- Dark card -->
                    <div class="popup" id="popup-<%= cnt %>">
                        <form>
                            <input value="<%= cnt %>" name="popupIndex" readonly hidden>
                             <button id="close" type="button" onclick="hide(this.form)" style="cursor: pointer;"> <i class="fa fa-times"></i></button>
                        </form>
                        
                        <form id="form" method="POST" action="/delete/post/<%= post._id %>">
                           
                            
                                <h6><b>⚠️Delete #</b><b style="color: blue;">
                                    <%= post._id %>
                                    </b></h6>
                                    <h6><b>Host: @</b><b style="color: blue;">
                                        <%= post.HostUsername %>
                                        </b></h6>
                                        <h6><b>Title: </b><b style="color: blue;">
                                            <% if(post.post.title.length > 20){ %>
                                                <%= post.post.title.substring(0,19) %>...
                                                <% }else{ %>
                                                    <%= post.post.title %>
                                                    <% } %>
                                            </b></h6>
                                   <div class="form-row">         
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" name="delReason"
                                        placeholder="delete reason" />
                                </div>
                                <div class="form-group col-md-12">
                                    <label><b style="color: red;">Penalty</b></label>
                                    <input type="number" class="form-control" name="csd"
                                        placeholder="Credit score deduction" min=0 max=100 required />
                                </div>
                                <input name="username" value="<%= post.HostUsername %>" hidden readonly/>
                            </div>
                            <button class="btn btn-outline-success"
                                type="submit">Confirm</button>
                        </form>
                    </div>
                    <% }else{ %>
                        <!-- Light card -->
                        <article class="postcard light red">
                            <a class="postcard__img_link" href="/read/post/<%= post._id %>">
                                <img class="postcard__img" src="<%= post.post.imgInput %>" alt="Image Title" />
                            </a>
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title red"><a href="/read/post/<%= post._id %>">
                                        <%= post.post.title %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <i class="fas fa-calendar-alt mr-2"></i>
                                    <% var dateStr = post.createDateString.split("T"); %>
                                <%= dateStr[0] %> <%= dateStr[1] %>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">
                                    <% if(post.post.description){ %>
                                        <% if(post.post.description.length > 40){ %>
                                            <%= post.post.description.substring(0,39) %>...
                                            <% }else{ %>
                                        <%= post.post.description %>
                                        <% } %>
                                            <% }else{ %>
                                                No description😳
                                                <% } %>
                                </div>
                                <ul class="postcard__tagbox">
                                    <% var YYYYMMDD = dateStr[0].split("-"); %>
                                <% if(YYYYMMDD[0] == year){ %>
                                    <% if(YYYYMMDD[1] == month){ %>
                                        <% if(YYYYMMDD[2] == day){ %>
                                    <li class="tag__item blink gradientRed">
                                        NEW
                                    </li>
                                    <% }}} %>
                                    <li class="tag__item"><i class="fas fa-users mr-2"></i>
                                        <%= post.joinedMembers.length + 1 %>/<%= post.post.memberLimit %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-user-secret mr-2"></i>Host:
                                        <b>
                                        <% if(post.post.HostNickname){ %>
                                            <a href="/read/profile?username=<%= post.HostUsername %>">
                                                <%= post.post.HostNickname %>
                                            </a>
                                            <% }else{ %>
                                                <a href="/read/profile?username=<%= post.HostUsername %>">
                                                    <%= post.HostUsername %>
                                                </a>
                                                <% } %>
                                         </b>       
                                    </li>
                                    <% if(req.session.memberid == "admin"){ %>
                                        <form>
                                            <input value="<%= cnt %>" name="popupIndex" readonly hidden>
                                             <button class="btn btn-danger" type="button" onclick="show(this.form)" style="cursor: pointer;"><i class="fas fa-ban mr-2"></i>DELETE</button>
                                        </form>
                                        <% }else{ %>
                                    <li class="tag__item play red">
                                        <% if(req.session.memberid){ %>
                                             <% if(post.HostUsername != req.session.memberid){ %>
                                                <% var duplicated = false; %>
                                                <% post.joinedMembers.forEach(function(member){ %>
                                                    <% if(member == req.session.memberid){ %>
                                                        <% duplicated = true; %>
                                                        <% } %>
                                                    <% }) %>
                                                    <% if(duplicated){ %>
                                                        <a href="/read/post/<%= post._id %>#chat"><i class="fas fa-comments mr-2"></i>Chat</a>
                                                        <% }else{ %>
                                                <a onclick="checkValidJoin('<%= post._id %>','<%= post.joinedMembers.length %>','<%= post.post.memberLimit %>')" style="cursor: pointer;"><i class="fas fa-hand-o-right mr-2"></i>Join</a>
                                                <% } %>
                                            <% }else { %>
                                                <a href="/manage/post/<%= post._id %>"><i class="fas fa-edit mr-2"></i>Edit</a>
                                                <% } %>
                                               
                                            <% }else{ %>
                                                <a href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login to
                                                    Join</a>
                                                <% } %>
                                                
                                    </li>
                                     <% } %>
                                </ul>
                            </div>
                        </article>
                        <!-- Light card -->
                        <div class="popup" id="popup-<%= cnt %>">
                            <form>
                                <input value="<%= cnt %>" name="popupIndex" readonly hidden>
                                 <button id="close" type="button" onclick="hide(this.form)" style="cursor: pointer;"> <i class="fa fa-times"></i></button>
                            </form>
                            
                            <form id="form" method="POST" action="/delete/post/<%= post._id %>">
                               
                                
                                    <h6><b>⚠️Delete #</b><b style="color: blue;">
                                        <%= post._id %>
                                        </b></h6>
                                        <h6><b>Host: @</b><b style="color: blue;">
                                            <%= post.HostUsername %>
                                            </b></h6>
                                            <h6><b>Title: </b><b style="color: blue;">
                                                <% if(post.post.title.length > 20){ %>
                                                    <%= post.post.title.substring(0,19) %>...
                                                    <% }else{ %>
                                                        <%= post.post.title %>
                                                        <% } %>
                                                </b></h6>
                                       <div class="form-row">         
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" name="delReason"
                                            placeholder="delete reason" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label><b style="color: red;">Penalty</b></label>
                                        <input type="number" class="form-control" name="csd"
                                            placeholder="Credit score deduction" min=0 max=100 />
                                    </div>
                                    <input name="username" value="<%= post.HostUsername %>" hidden readonly/>
                                </div>
                                <button class="btn btn-outline-success"
                                    type="submit">Confirm</button>
                            </form>
                        </div>
                        <% } %>
                            <% cnt=cnt + 1; %>

                                <% }); %>

    </div>

    <br>
    <p style="text-align: center;">
        End of this page
    </p>
    <br>
    <br>
</body>


<script>
    const body = document.body;
    const scrollUp = "scroll-up";
    const scrollDown = "scroll-down";
    let lastScroll = 0;

    window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll <= 0) {
            body.classList.remove(scrollUp);
            return;
        }

        if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
            // down
            body.classList.remove(scrollUp);
            body.classList.add(scrollDown);
        } else if (
            currentScroll < lastScroll &&
            body.classList.contains(scrollDown)
        ) {
            // up
            body.classList.remove(scrollDown);
            body.classList.add(scrollUp);
        }
        lastScroll = currentScroll;
    });

</script>

<script>
    const range = document.getElementById("range");

    const scale = (num, in_min, in_max, out_min, out_max) => {
        return ((num - in_min) * (out_max - out_min)) / (in_max - in_min) + out_min;
    };

    range.addEventListener("input", (e) => {
        const value = +e.target.value;
        const label = e.target.nextElementSibling;
        const rangeWidth = getComputedStyle(e.target).getPropertyValue("width");
        const labelWidth = getComputedStyle(label).getPropertyValue("width");
        // remove px
        const numWidth = +rangeWidth.substring(0, rangeWidth.length - 2);
        const numLabelWidth = +labelWidth.substring(0, labelWidth.length - 2);
        const max = +e.target.max;
        const min = +e.target.min;
        const left =
            value * (numWidth / max) -
            numLabelWidth / 2 +
            scale(value, min, max, 10, -10);
        label.style.left = `${left}px`;
        label.innerHTML = value;
    });

</script>

<script>
    async function checkValidJoin(id, joinedMembers, maxMembers){

        joinedMembers = parseInt(joinedMembers)+1;
        maxMembers = parseInt(maxMembers);

        if(joinedMembers >= maxMembers){
            alert("Fail to join the post!\nReason: The quota for joining this post is full! ("+joinedMembers+"/"+maxMembers+")");
        }else{
             
        var response = await fetch("/join/"+id, { method: "POST" });


        if (response.ok) {
            window.location.reload();
            alert("Joined the post!");
        } else {
            var msg = response.statusText;
            window.location.reload();
            alert(msg);
        }
        }
    }

    function show(form) {
        document.getElementById("popup-"+form['popupIndex'].value).style.display = "block";
    }
    function hide(form) {
        document.getElementById("popup-"+form['popupIndex'].value).style.display = "none";
    }
</script>