<head>
    <title>Sign Up</title>

    <style>
        .container {
            padding-top: 20px;
        }

        .iconify {
            margin-bottom: 4px;
        }

        #create {
            display: none;
        }
    </style>

</head>

<body>


    <div class="container">
        <p><b>Step 1:</b> Login to your Gmail account to proceed the verification</p>
        <a class="btn btn-outline-info" href="/api/v1/auth/google">Verify with your Gmail <span
                class="iconify" data-icon="logos:google-gmail"></span></a>

        <br><br>
        <% if(req.session.useremail){ %>
            <p style="color: grey;">Valid Gmail: <b>
                    <%= req.session.useremail %>
                </b> <a style="color: red;" href='/disconnectGmail'>Disconnect</a>
            </p>
            <% } %>

                <p><b>Step 2:</b> Enter your username & password for new account</p>
                <% if(ExisitingUser){ %>
                    <p>🤔Already has an account? username: "<%= ExisitingUser.username %>",

                            <a href="/login">Login with "<%= ExisitingUser.username %>"</a>
                    </p>
                    <% }%>
                        <form method="POST" action="/signup">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label><b>Username</b></label>
                                    <input type="string" class="form-control" id="username" name="username" required
                                        disabled>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                        <label><b>Password</b>
                                            <span id="showNhidePW" onclick="showNhidePW()" style="cursor: pointer; display: none;"><i class="fas fa-eye"></i></span></label>
                                            <input type="password" class="form-control" id="password" name="password" required disabled>
                                </div>

                            </div>


                            <small><a href="/login">Already have an account? log in now</a></small>
                            <div>
                                <button id="create" class="btn btn-outline-success" type="submit">Create</button>
                            </div>



                        </form>
    </div>

</body>

<script>
    var useremail = "<%= req.session.useremail %>";
    var status = "<%= status %>";
    var ExisitingUser = "<%= ExisitingUser %>";
    // logged in Gmail
    if (status == "verified") {
        var name = "<%= req.session.username %>";
        alert("Welcome! " + name + "\nYou're now logged in your Gmail account");
        window.location.replace("/signup");

    }

    // if such User Exisit
    if (ExisitingUser) {
        var DBusername = "<%= ExisitingUser.username %>";
        var DBuseremail = "<%= ExisitingUser.connectedGmail %>";
        alert("Username (" + DBusername + ") already been registered using Gmail: " + DBuseremail + "!" +
            "Are you " + DBusername + "? login with your password~");

    }

    // contain valid gmail
    if (useremail) {
        // enable input fields and display the create button
        document.getElementById("username").disabled = false;
        document.getElementById("password").disabled = false;
        document.getElementById("create").style.display = "inline";
        document.getElementById("showNhidePW").style.display = "inline";
    }


    function showNhidePW() {
        var x = document.getElementById("password");
        var showNhidePW = document.getElementById("showNhidePW");
        if (x.type === "password") {
            x.type = "text";
            showNhidePW.innerHTML = "";
            showNhidePW.innerHTML += "<i class=\"fas fa-eye-slash\"></i>";
        } else {
            x.type = "password";
            showNhidePW.innerHTML = "";
            showNhidePW.innerHTML += "<i class=\"fas fa-eye\"></i>";
        }
    }
</script>