<head>
    <title>Sign Up</title>
    <style>
        .SignupContainer {
            padding-top: 20px;
            width: 500px;
            margin: 0 auto;
        }

        .outCon {
            padding-bottom: 100px;
        }

        .iconify {
            margin-bottom: 4px;
        }

        #create {
            display: none;
        }

        .step {
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
        }

        #usernameInput {
            display: flex;
            justify-content: center;
        }

        #username,
        #verify {
            display: inline;
        }

        #checkStatus {
            opacity: 0;
            transition: all .7s ease-in-out;

        }


        .lds-hourglass {
            display: inline-block;
            position: relative;
        }

        .lds-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 8px;
            box-sizing: border-box;
            border: 9px solid rgb(167, 167, 167);
            border-color: rgb(167, 167, 167) transparent rgb(167, 167, 167) transparent;
            animation: lds-hourglass 1.2s infinite;
        }

        @keyframes lds-hourglass {
            0% {
                transform: rotate(0);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            50% {
                transform: rotate(900deg);
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            100% {
                transform: rotate(1800deg);
            }
        }
    </style>

</head>

<body>

    <div class="outCon">
        <div class="SignupContainer">
            <p><b class="step">Step 1:</b> Login to your Gmail account to proceed the verification</p>
            <a class="btn btn-outline-info" href="/api/v1/auth/google">Verify with your Gmail <span class="iconify"
                    data-icon="logos:google-gmail"></span></a>

            <br><br>
            <% if(req.session.useremail){ %>
                <p style="color: grey;">Valid Gmail: <b>
                        <%= req.session.useremail %>
                    </b> <a style="color: red;" href='/disconnectGmail'>Disconnect</a>
                </p>
                <% } %>

                    <hr>
                    <p><b class="step">Step 2:</b> Set up your username & password for new account</p>
                    <% if(ExisitingUser){ %>
                        <p style="color: red;">username "<%= ExisitingUser.username %>" is already been in use!
                        </p>
                        <small>**Please change the username and check its availability.</small>
                        <% }%>
                            <% if(ExisitingGmail){ %>
                                <p class="blink" style="background-color: red; color: white;">This Gmail is being used!
                                    (<b>
                                        <%= ExisitingGmail.connectedGmail %>
                                    </b>)
                                </p>
                                <p><small><b>**ONE Gmail account can only create ONE member account in the
                                            system!</b></small></p>
                                <p><small><b>**Please use another Gmail account to pass the step 1
                                            authentication!</b></small></p>
                                <% }%>


                                    <form method="POST" action="/signup">
                                        <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <label><b>Username</b> <span id="checkStatus"
                                                        style="padding-left: 10px;"></span></label>
                                                <div id="usernameInput">
                                                    <input type="string" class="form-control" id="username"
                                                        name="username" required disabled>
                                                    <a class="tooltip-top"
                                                        data-tooltip="Check availability of the username" id="verify"
                                                        style="margin-left: 20px; cursor: pointer;"
                                                        onclick="checkDul(document.getElementById('username').value)"><i
                                                            class="fas fa-shield-alt"></i></a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-9">

                                                <label><b>Password</b>
                                                    <span id="showNhidePW" onclick="showNhidePW()"
                                                        style="cursor: pointer; display: none;"><i
                                                            class="fas fa-eye"></i></span></label>
                                                <input type="password" class="form-control" id="password"
                                                    name="password" minlength=6 required disabled>
                                                <small><b>**</b>The passwords should have minimum length of 6</small>
                                            </div>

                                        </div>


                                        <small><a href="/login">Already have an account? log in now</a></small>
                                        <div id="create">
                                            <hr>
                                            <input type="checkbox" id="agree" required>
                                            <label for="agree">
                                                <small><b>I have read and accept the <a href="/terms" style="color: blue;" target="_blank">terms and
                                                            conditions</a> of HappyShare:)&#174;</b></small>
                                            </label>
                                            <br>
                                            <button class="btn btn-outline-success" type="submit" onclick="checkAgree()">Create</button>
                                        </div>



                                    </form>
        </div>
    </div>
</body>

<script>
    var useremail = "<%= req.session.useremail %>";
    var status = "<%= status %>";
    // logged in Gmail
    if (status == "verified") {
        var name = "<%= req.session.username %>";
        alert("Welcome! " + name + "\nYou're now logged in your Gmail account");
        window.location.replace("/signup");

    }

    // contain valid gmail
    if (useremail) {
        // enable input fields and display the create button
        document.getElementById("username").disabled = false;
        document.getElementById("password").disabled = false;
        document.getElementById("create").style.display = "inline";
        document.getElementById("showNhidePW").style.display = "inline";
    }


    function showNhidePW() {
        var x = document.getElementById("password");
        var showNhidePW = document.getElementById("showNhidePW");
        if (x.type === "password") {
            x.type = "text";
            showNhidePW.innerHTML = "";
            showNhidePW.innerHTML += "<i class=\"fas fa-eye-slash\"></i>";
        } else {
            x.type = "password";
            showNhidePW.innerHTML = "";
            showNhidePW.innerHTML += "<i class=\"fas fa-eye\"></i>";
        }
    }

    async function checkDul(name) {
        if (!name) {
            return;
        }

        var s = document.getElementById('checkStatus');
        s.style.opacity = 1;
        s.innerHTML = "";
        s.innerHTML += "<div class=\"lds-hourglass\"></div>";

        var response = await fetch("/check/username/" + name, { method: "POST" });

        s.style.opacity = 0;
        if (response.ok) {
            var msg = response.statusText;

            if (msg == "duplicated") {
                s.innerHTML = "";
                s.innerHTML += "<i class=\"fas fa-times\" style=\"color: rgb(221, 50, 50);\"></i><small> Not available</small>";
                s.style.opacity = 1;
            } else if (msg == "free") {
                s.innerHTML = "";
                s.innerHTML += "<i class=\"fas fa-check\" style=\"color: rgb(3, 231, 3);\"></i><small> Available</small>";
                s.style.opacity = 1;
            } else {
                alert("Unknown status: " + msg);
            }
        } else {
            var msg = response.statusText;
            alert("Error in sending message:\n\"" + name + "\"\n" + msg);
            location.reload();
        }

    }

    function checkAgree(){
        var agree = document.getElementById('agree').checked;

        if(!agree){
            alert('Please check the box to continue!');
            return;
        }
    }
</script>