<head>
    <title>User list</title>
    <style>

    </style>

</head>


<body>
    <% if(req.session.memberid){ %>
        <% if(req.session.memberid=="admin" ){ %>
            Total: <%= users.length %> users
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th>Username</th>
                            <th>Credit Score</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <% var cnt=1; %>
                        <% users.forEach(function(user){ %>
                            <tr>
                                <td>
                                    <b>
                                        <%= cnt %>
                                    </b>
                                </td>
                                <td><a href="/read/profile?username=<%= user.username %>">
                                        <%= user.username %>
                                    </a></td>
                                <td>
                                    <%= user.creditScore %>
                                </td>
                                <td>
                                    <% var arr=user.createDateString.split("T"); %>
                                        <%= arr[0] %>
                                            <%= arr[1] %>
                                </td>
                                <td>
                                    <%= user.status %>
                                </td>
                                <td>
                                    <% if(user.status=="active" ){ %>
                                        <a class="tooltip-top" data-tooltip="Ban user @<%= user.username %>"
                                            style="cursor: pointer;" onclick="delUser('<%= user.username %>')">🚫</a>
                                        <% }else{ %>
                                            <a class="tooltip-top" data-tooltip="Activate user @<%= user.username %>"
                                                style="cursor: pointer;"
                                                onclick="actiUser('<%= user.username %>')">🔓</a>
                                                <% } %>
                                </td>
                            </tr>

                            <% cnt+=1 %>
                                <% }); %>
                </table>
                <% }else{ %>
                    <!-- visitor layout -->
                    <br>
                    <h3>You don't have permission to browse this page😬</h3>
                    <!-- should store url session to nav back later -->

                    <!-- visitor layout -->

                    <% } %>

                        <% }else{ %>
                            <!-- visitor layout -->
                            <br><br>
                            <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                            class="fas fa-sign-in-alt mr-2"></i></li></a> to admin account to browse
                                users list
                            </h3>
                            <!-- should store url session to nav back later -->

                            <!-- visitor layout -->
                            <% } %>

                                <br><br><br>
</body>

<script>
    async function delUser(username) {
        var r = confirm('Confirm ban @' + username + "?");

        if (r) {

            var response = await fetch('/ban/user/' + username, { method: 'POST' });

            if (response.ok) {
                alert('Done!');
                location.reload();
            } else {
                var msg = response.statusText;
                alert("Error in banning user:\n\"" + username + "\"\n" + msg);
                location.reload();
            }

        } else {
            alert('cancelled!');
        }
    }

    async function actiUser(username) {
        var r = confirm('Confirm activate @' + username + "?");

        if (r) {

            var response = await fetch('/activate/user/' + username, { method: 'POST' });

            if (response.ok) {
                alert('Done!');
                location.reload();
            } else {
                var msg = response.statusText;
                alert("Error in activvating user:\n\"" + username + "\"\n" + msg);
                location.reload();
            }

        } else {
            alert('cancelled!');
        }
    }
</script>