<head>
    <title>View report detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .row {
            display: flex;
            padding-top: 30px;
            padding-bottom: 60px;
        }

        .column1 {
            flex: 55%;
        }

        .column2 {
            flex: 45%;
        }

        div {
            clear: both;
        }

        label {
            width: 200px;
            border-radius: 3px;
            border: 1px solid #D1D3D4
        }

        /* hide input */
        input.radio:empty {
            margin-left: -999px;
        }

        /* style label */
        input.radio:empty~label {
            position: relative;
            float: left;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 2em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input.radio:empty~label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

        /* toggle hover */
        input.radio:hover:not(:checked)~label:before {
            content: '\2714';
            text-indent: .9em;
            color: #C2C2C2;
        }

        input.radio:hover:not(:checked)~label {
            color: rgb(0, 196, 131);
        }

        /* toggle on */
        input.radio:checked~label:before {
            content: '\2714';
            text-indent: .9em;
            color: #9CE2AE;
            background-color: #4DCB6D;
        }

        input.radio:checked~label {
            color: rgb(0, 214, 0);
        }

        /* radio focus */
        input.radio:focus~label:before {
            box-shadow: 0 0 0 3px #999;
        }

        #sub {
            display: none;
        }

        #statusBar {
            background: rgb(255, 255, 255);
            border-radius: 2px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            height: 30px;
            width: 231px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        #statusBar:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        #back {
            float: right;
            margin-right: 100px;
        }
    </style>
</head>

<body>
    <% if(req.session.memberid){ %>
        <% if(req.session.memberid=="admin" ){ %>
            <div class="row">

                <div class="column1">
                    <h5>(Report ID#<%= report.reportID %>)</h5>
                    <a id="back" class="btn btn-outline-secondary" href="/reporthandle">Back</a>
                    <div id="statusBar">
                        Status:
                        <% if(report.status=="Pending" ){ %>
                            <b>
                                <%= report.status %>
                            </b>
                            <% }else if(report.status=="Approved" ){ %>
                                <b style="color: #61ff89;">
                                    <%= report.status %>
                                </b>
                                <% }else if(report.status=="Rejected" ){ %>
                                    <b style="color: rgb(252, 133, 35);">
                                        <%= report.status %>
                                    </b>
                                    <% }else{ %>
                                        <b style="color: #7208eb;">
                                            <%= report.status %>
                                        </b>
                                        <% } %>
                    </div>

                    <br>
                    <ul>
                        <li><b style="color: red;">Report User</b>: <b>
                                <a href="/read/profile?username=<%= report.reportUser %>">
                                    <%= report.reportUser %>
                                </a>
                            </b></li>
                        <li>Content: <b>
                                <%= report.content %>
                            </b></li>
                        <li>Evidence: <b>
                                <%= report.evidence %>
                            </b></li>
                        <li>Report Date: <b>
                                <% var dateStr=report.createDateString.split("T"); %>
                                    <%= dateStr[0] %>
                                        <%= dateStr[1] %>
                            </b></li>
                        <li>Reported By: <b>
                                <a href="/read/profile?username=<%= report.reportedBy %>">
                                    <%= report.reportedBy %>
                                </a>
                            </b></li>
                        <li>
                            Picture provided:
                             <a href="<%= report.photoLink %>" target="_blank"><img src="<%= report.photoLink %>" alt="" class="image" height="180px" /></a>
                        </li>
                        <li><small>link: <a href="<%= report.photoLink %>" target="_blank"><%= report.photoLink %></a></small></li>
                    </ul>
                   
                    

                    <% if(report.actionTaken.date){ %>
                        <br><br>
                        <h3>Action Taken:</h3>

                        <% if(report.actionTaken.reportUserCSD){ %>
                            <h6>@<%= report.reportUser %> - <%= report.actionTaken.reportUserCSD %>
                            </h6>
                            <% }else{ %>
                                <h6>@<%= report.reportUser %> : No mark deducted</h6>
                                <% } %>

                                    <% if(report.actionTaken.reportedByCSD){ %>
                                        <h6>@<%= report.reportedBy %> - <%= report.actionTaken.reportedByCSD %>
                                        </h6>
                                        <% }else{ %>
                                            <h6>@<%= report.reportedBy %> : No mark deducted</h6>
                                            <% } %>

                                                <h6>Mesage from the admin:</h6>
                                                <h6 style="color: #7208eb;">
                                                    <%= report.actionTaken.message %>
                                                </h6>
                                                <br>
                                                <% var date=report.actionTaken.date.split("T"); %>
                                                    <h6>Report handled date: <%= date[0] %>
                                                            <%= date[1] %>
                                                    </h6>

                                                    <% } %>

                </div>

                <div class="column2">
                    <% if(report.status=="Pending" ||report.status=="pending" || report.status=="Further investigation"
                        ){ %>
                        <form action="/update/report/<%= report._id %>" method="post">
                            <div>
                                <h3>Action: </h3>
                                <input type="radio" name="radio" id="approve" class="radio" value="Approved"
                                    onchange="showEdit(this.value)" />
                                <label for="approve">Approve</label>
                            </div>

                            <div>
                                <input type="radio" name="radio" id="reject" class="radio" value="Rejected"
                                    onchange="showEdit(this.value)" />
                                <label for="reject">Reject</label>
                            </div>

                            <div>
                                <input type="radio" name="radio" id="fi" class="radio" value="Further investigation"
                                    onchange="showEdit(this.value)" />
                                <label for="fi">Further investigate</label>
                            </div>

                            <br><br><br>
                            <div id="sub">
                                <h3>Subsequent Action:</h3>
                                <h6>Credit Score Deduction @ User (credit score)</h6>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <b>@ <%= report.reportUser %> (<%= reportUser.creditScore %>)</b> <input
                                            type="number" class="form-control" id="reportUserCSD" name="reportUserCSD"
                                            min=0 max="<%= reportUser.creditScore %>" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <b>@ <%= report.reportedBy %> (<%= reportedBy.creditScore %>)</b> <input
                                            type="number" class="form-control" id="reportedByCSD" name="reportedByCSD"
                                            min=0 max="<%= reportedBy.creditScore %>" readonly>
                                    </div>
                                </div>

                                <h5>*Message: </h5>
                                <div class="form-row">
                                    <textarea class="form-control" rows="4" name="message"
                                        placeholder="Reasons for taking this action" required></textarea>
                                </div>

                                <br>
                                <input id="status" name="status" value="" readonly hidden>
                                <input name="reportID" value="<%= report.reportID %>" readonly hidden>
                                <input name="reportUser" value="<%= report.reportUser %>" readonly hidden>
                                <input name="reportUserCS" value="<%= reportUser.creditScore %>" readonly hidden>
                                <input name="reportedBy" value="<%= report.reportedBy %>" readonly hidden>
                                <input name="reportedByCS" value="<%= reportedBy.creditScore %>" readonly hidden>
                                <button class="btn btn-primary" id="done" type="submit">DONE</button>
                                <button class="btn btn-secondary" id="cancelButton" type="button"
                                    onclick="window.location.reload();">CANCEL</button>
                        </form>
                        <% }else{ %>
                            <!-- approved/rejected layout -->
                            <h3>Additional Information (optional):</h3>
                            <h6>Send message to user:</h6>

                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    <b>Send to @ <%= report.reportUser %> (<%= reportUser.creditScore %>)</b>
                                    <textarea class="form-control" name="reportUserMS" rows="4" id="reportUserMS"
                                        placeholder="message here..."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    <b>Send to @ <%= report.reportedBy %> (<%= reportedBy.creditScore %>)</b>
                                    <textarea class="form-control" name="reportedByMS" rows="4" id="reportedByMS"
                                        placeholder="message here..."></textarea>
                                </div>
                            </div>

                            <input name="reportUser" id="reportUser" value="<%= report.reportUser %>" readonly hidden>
                            <input name="reportedBy" id="reportedBy" value="<%= report.reportedBy %>" readonly hidden>
                            <button class="btn btn-outline-warning" onclick="fetchNoti()">Send</button>


                            <% } %>
                </div>
                <br><br><br><br>
            </div>

            <% }else{ %>
                <!-- normal member layout -->
                <br>
                <h3>You don't have permission to browse this page😬</h3>
                <!-- should store url session to nav back later -->

                <!-- normal member layout -->

                <% } %>

                    <% }else{ %>
                        <!-- visitor layout -->
                        <br>
                        <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                                        class="fas fa-sign-in-alt mr-2"></i></li></a> to admin account to browse report
                            list
                        </h3>
                        <!-- should store url session to nav back later -->

                        <!-- visitor layout -->
                        <% } %>

                            <br><br>

</body>

<script>
    function showEdit(status) {
        // enable input fields 
        document.getElementById("reportUserCSD").readOnly = false;
        document.getElementById("reportedByCSD").readOnly = false;

        // show confirm button & cancel button
        document.getElementById("sub").style.display = "inline";

        // update status input
        document.getElementById("status").value = status;
    }

    async function fetchNoti() {

        var rMessage = document.getElementById('reportUserMS').value;
        var rbMessage = document.getElementById('reportedByMS').value;

        rMessage = rMessage.trim();
        rbMessage = rbMessage.trim();

        messageCnt = 0;
        if (rMessage != "") {
            var username = document.getElementById('reportUser').value;
            var response = await fetch('/send/directly/noti?username='+username+"&message="+rMessage, { method: 'POST' });

            if (response.ok) {
                messageCnt += 1;
            } else {
                var msg = response.statusText;
                alert("Error in sending message:\n\"" + y + "\"\n" + msg);
            }
        }
        if (rbMessage != "") {
            var username = document.getElementById('reportedBy').value;
            var response = await fetch('/send/directly/noti?username='+username+"&message="+rbMessage, { method: 'POST' });

            if (response.ok) {
                messageCnt += 1;
            } else {
                var msg = response.statusText;
                alert("Error in sending message:\n\"" + y + "\"\n" + msg);
            }
        }

        if(messageCnt == 0){
            alert("The message is empty!");
        }else if(messageCnt == 1){
            alert("Message sent!");
            location.reload();
        }else{
            alert("Messages sent!");
            location.reload();
        }


    }
</script>