<head>
    <title>Report History</title>
    <style>
        .card {
            background: rgb(250, 250, 250);
            border-radius: 2px;
            display: inline-block;
            margin: 1rem;
            position: relative;
            height: 80px;
            width: 70%;
            padding: 24px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        .card:hover {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
        }

        h1 {
            font: 67px "Amatic SC", sans-serif;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
            margin-bottom: 15px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

    <% if(req.session.memberid){ %>
        <div>
            <br>
            <h1>Report History <i class="fa fa-exclamation-triangle"></i></h1>
            <% if(reports.length==0){ %>
                <h3>The report history is empty~ </h3>
                <% }else{ %>
                    <div id="cardContainer">
                        <% for (var i=reports.length-1; i>= 0; i--) { %>

                            <a class="card" href="/view/report/<%= reports[i]._id %>">
                                <h6>
                                    <b>#<%= reports[i].reportID %></b> | <b>Report User:</b>
                                    <%= reports[i].reportUser %> <b>Report Content:</b>
                                        <% if(reports[i].content.length> 20){ %>
                                            <%= reports[i].content.substring(0,19) %>...
                                                <% }else{ %>
                                                    <%= reports[i].content %>
                                                        <% } %>
                                                            <% if(reports[i].status=="Pending" ){ %>
                                                                <b style="color: #707070;float: right;">
                                                                    <%= reports[i].status %>
                                                                </b>
                                                                <% }else if(reports[i].status=="Approved" ){ %>
                                                                    <b style="color: #61ff89;float: right;">
                                                                        <%= reports[i].status %>
                                                                    </b>
                                                                    <% }else if(reports[i].status=="Rejected" ){ %>
                                                                        <b
                                                                            style="color: rgb(252, 133, 35);float: right;">
                                                                            <%= reports[i].status %>
                                                                        </b>
                                                                        <% }else{ %>
                                                                            <b style="color: #7208eb;float: right;">
                                                                                <%= reports[i].status %>
                                                                            </b>
                                                                            <% } %>
                                </h6>
                                <% var arr=reports[i].createDateString.split("T"); %>
                                    <small>
                                        <%= arr[0] %>
                                            <%= arr[1] %>
                                    </small>
                            </a>

                            <% }; %>

                    </div>

                    <a class="btn btn-outline-primary" href="/read/profile?username=<%= req.session.memberid %>">Back to
                        profile</a>
                    <% } %>

                      
        </div>
         <br><br><br>

        <% }else{ %>

            <!-- visitor layout -->
            <br>
            <h3><a href="/login">Login <li class="tag__item" style="cursor: pointer;"><i
                            class="fas fa-sign-in-alt mr-2"></i></li></a> to browse the report history

            </h3>
            <!-- should store url session to nav back later -->

            <!-- visitor layout -->

            <% } %>

</body>

<script>

</script>